Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2021-03, with the labels that each got.

#1865 Use application base directory to locate self diagnostic config file
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Internal/SelfDiagnosticsConfigParser.cs
Labels: pr:please-merge

#1858 Add SetErrorStatusOnException option to TracerProviderSdk
  OpenTelemetry.sln
  docs/Directory.Build.props
  docs/trace/exception-handling/Program.cs
  docs/trace/exception-handling/README.md
  docs/trace/exception-handling/exception-handling.csproj
  src/OpenTelemetry/.publicApi/net452/PublicAPI.Unshipped.txt
  src/OpenTelemetry/.publicApi/net46/PublicAPI.Unshipped.txt
  src/OpenTelemetry/.publicApi/net461/PublicAPI.Unshipped.txt
  src/OpenTelemetry/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Sdk.cs
  src/OpenTelemetry/Trace/ExceptionProcessor.cs
  src/OpenTelemetry/Trace/TracerProviderBuilderSdk.cs
  src/OpenTelemetry/Trace/TracerProviderOptions.cs
  test/OpenTelemetry.Tests/Trace/ExceptionProcessorTest.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderOptionsTest.cs
Labels: area:sdk, pr:please-merge

#1869 Logs: Support parsing State & Scopes and capture of formatted Message
  src/OpenTelemetry/.publicApi/net461/PublicAPI.Unshipped.txt
  src/OpenTelemetry/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry/Logs/LogRecord.cs
  src/OpenTelemetry/Logs/OpenTelemetryLogger.cs
  src/OpenTelemetry/Logs/OpenTelemetryLoggerOptions.cs
  src/OpenTelemetry/Logs/OpenTelemetryLoggerProvider.cs
Labels: area:sdk, enhancement, logs

#1872 Add codecov badge to the main README
  README.md
Labels: infra

#1913 Add resource support to logger
  src/OpenTelemetry.Exporter.Console/CHANGELOG.md
  src/OpenTelemetry.Exporter.Console/ConsoleLogRecordExporter.cs
  src/OpenTelemetry/.publicApi/net461/PublicAPI.Shipped.txt
  src/OpenTelemetry/.publicApi/net461/PublicAPI.Unshipped.txt
  src/OpenTelemetry/.publicApi/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Logs/OpenTelemetryLoggerOptions.cs
  src/OpenTelemetry/Logs/OpenTelemetryLoggerProvider.cs
  src/OpenTelemetry/ProviderExtensions.cs
Labels: area:sdk, logs

#1889 Dependency injection support
  examples/AspNetCore/Startup.cs
  examples/AspNetCore/appsettings.json
  src/OpenTelemetry.Api/.publicApi/net452/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Api/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Api/Trace/TracerProviderBuilder.cs
  src/OpenTelemetry.Exporter.Jaeger/JaegerExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Jaeger/OpenTelemetry.Exporter.Jaeger.csproj
  src/OpenTelemetry.Exporter.Zipkin/OpenTelemetry.Exporter.Zipkin.csproj
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporterHelperExtensions.cs
  src/OpenTelemetry.Extensions.Hosting/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.Hosting/CHANGELOG.md
  src/OpenTelemetry.Extensions.Hosting/Implementation/TracerProviderBuilderHosting.cs
  src/OpenTelemetry.Extensions.Hosting/OpenTelemetryServicesExtensions.cs
  src/OpenTelemetry.Extensions.Hosting/Trace/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry/.publicApi/net452/PublicAPI.Unshipped.txt
  src/OpenTelemetry/.publicApi/net46/PublicAPI.Unshipped.txt
  src/OpenTelemetry/.publicApi/net461/PublicAPI.Unshipped.txt
  src/OpenTelemetry/.publicApi/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Internal/ServiceProviderExtensions.cs
  src/OpenTelemetry/Trace/IDeferredTracerProviderBuilder.cs
  src/OpenTelemetry/Trace/TracerProviderBuilderBase.cs
  src/OpenTelemetry/Trace/TracerProviderBuilderExtensions.cs
  src/OpenTelemetry/Trace/TracerProviderBuilderSdk.cs
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/HostingExtensionsTests.cs
Labels: pr:please-merge
