Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2022-07, with the labels that each got.

#3424 Support OTEL_METRIC_EXPORT_INTERVAL and OTEL_METRIC_EXPORT_TIMEOUT
  src/OpenTelemetry.Exporter.Console/CHANGELOG.md
  src/OpenTelemetry.Exporter.Console/OpenTelemetry.Exporter.Console.csproj
  src/OpenTelemetry.Exporter.Console/README.md
  src/OpenTelemetry.Exporter.InMemory/CHANGELOG.md
  src/OpenTelemetry.Exporter.InMemory/README.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/README.md
  src/OpenTelemetry/Internal/PeriodicExportingMetricReaderHelper.cs
  src/OpenTelemetry/Metrics/PeriodicExportingMetricReader.cs
  test/OpenTelemetry.Tests/Internal/PeriodicExportingMetricReaderHelperTests.cs
Labels: enhancement, area:exporter:otlp, metrics

#3452 docs: auto-instrumentation vs instrumentation state
  docs/trace/extending-the-sdk/README.md
Labels: area:instrumentation, documentation

#3462 Exponential Bucket Histogram - part 1
  src/OpenTelemetry/Metrics/ExponentialBucketHistogram.cs
  src/OpenTelemetry/Metrics/ExponentialBucketHistogramConfiguration.cs
  test/OpenTelemetry.Tests/Metrics/ExponentialBucketHistogramTest.cs
Labels: area:sdk, metrics

#3482 Exponential Bucket Histogram - part 5
  src/OpenTelemetry/Internal/MathHelper.cs
  src/OpenTelemetry/Metrics/CircularBufferBuckets.cs
  src/OpenTelemetry/Metrics/ExponentialBucketHistogram.cs
  test/OpenTelemetry.Tests/Metrics/CircularBufferBucketsTest.cs
Labels: area:sdk, metrics

#3391 [.NET7.0] AspNetCore ActivitySource Migration
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
Labels: Stale

#3502 Fix nits
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  src/OpenTelemetry/CHANGELOG.md
Labels: documentation
