Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2023-09, with the labels that each got.

#4882 [sdk] Allow `/` in metric instrument names
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderSdk.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestData.cs
Labels: area:sdk

#4887 OTLP LogExporter limits configuration by env. var.
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/LogRecordExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/SdkLimitOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/README.md
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/SdkLimitOptionsTests.cs
Labels: area:exporter:otlp

#4885 [sdk] Build extension behavior tweaks
  src/OpenTelemetry.Api/Logs/LoggerProvider.cs
  src/OpenTelemetry/.publicApi/Stable/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry/.publicApi/Stable/net6.0/PublicAPI.Shipped.txt
  src/OpenTelemetry/.publicApi/Stable/netstandard2.0/PublicAPI.Shipped.txt
  src/OpenTelemetry/.publicApi/Stable/netstandard2.1/PublicAPI.Shipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Logs/Builder/LoggerProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Trace/Builder/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Api.Tests/Logs/LoggerProviderTests.cs
  test/OpenTelemetry.Tests/Logs/LoggerProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Tests/Metrics/MeterProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderBuilderExtensionsTest.cs
Labels: area:api, area:sdk

#4890 [api] Fix Tracer.StartRootSpan so that it always creates a root span
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Api/Trace/Tracer.cs
  test/OpenTelemetry.Api.Tests/Trace/TracerTest.cs
Labels: area:api
