Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2023-10, with the labels that each got.

#4910 [hosting] README typo fixes
  src/OpenTelemetry.Extensions.Hosting/README.md
Labels: area:ext:hosting

#4870 [http] Add http.client.request.duration metric and .NET Framework support
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/HttpClientMetrics.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerMetricsDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpWebRequestActivitySource.netfx.cs
  src/OpenTelemetry.Instrumentation.Http/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/README.md
  src/OpenTelemetry.Instrumentation.Http/TracerProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestActivitySourceTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestActivitySourceTestsDupe.netfx.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestActivitySourceTestsNew.netfx.cs
  test/OpenTelemetry.Tests/Shared/TestHttpServer.cs
Labels: area:instrumentation

#4892 [otlp] Add log exception attributes under feature flag
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExperimentalOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpLogRecordTransformer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/README.md
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
Labels: area:exporter:otlp

#4883 [hosting] Register OpenTelemetry at the beginning of IServiceCollection
  src/OpenTelemetry.Extensions.Hosting/CHANGELOG.md
  src/OpenTelemetry.Extensions.Hosting/OpenTelemetryServicesExtensions.cs
  src/OpenTelemetry.Extensions.Hosting/README.md
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetryServicesExtensionsTests.cs
Labels: area:ext:hosting

#4906 [api] Fix memory leaks in TracerProvider.GetTracer API
  src/OpenTelemetry.Api/.publicApi/Stable/net462/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Api/.publicApi/Stable/net6.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Api/.publicApi/Stable/netstandard2.0/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Api/Trace/Tracer.cs
  src/OpenTelemetry.Api/Trace/TracerProvider.cs
  test/OpenTelemetry.Api.Tests/Trace/TracerTest.cs
Labels: area:api

#4938 unblock documentation-only PRs for aot-ci
  .github/workflows/ci-aot-md.yml
  OpenTelemetry.sln
Labels: infra

#4942 [sdk] Ignore event counters in debug EventListener
  src/OpenTelemetry/Internal/OpenTelemetrySdkEventSource.cs
Labels: area:sdk

#4981 Remove Enrich and Filter for ASP.NET Core metrics
  src/OpenTelemetry.Instrumentation.AspNetCore/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreMetricsInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/AspNetCoreInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInMetricsListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/MeterProviderBuilderExtensions.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/DependencyInjectionConfigTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/MetricTests.cs
Labels: area:instrumentation

#4988 [sdk] Generate a consistent instanceId for the lifetime of a process
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Resources/ResourceBuilderExtensions.cs
  test/OpenTelemetry.Tests/Resources/ResourceBuilderTests.cs
Labels: area:sdk
