Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2023-11, with the labels that each got.

#5007 [ASP.NET Core] update `network.protocol.version` values as per spec
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpTagHelper.cs
  test/OpenTelemetry.Instrumentation.Grpc.Tests/GrpcTests.server.cs
Labels: Stale

#5046 [sdk] Ignore event counters in SelfDiagnosticsEventListener
  src/OpenTelemetry/Internal/SelfDiagnosticsEventListener.cs
Labels: bug, area:sdk

#4958 [hosting] Support .NET 8 IMetricsBuilder API
  Directory.Packages.props
  src/OpenTelemetry.Extensions.Hosting/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.Hosting/CHANGELOG.md
  src/OpenTelemetry.Extensions.Hosting/Implementation/OpenTelemetryMetricsListener.cs
  src/OpenTelemetry.Extensions.Hosting/OpenTelemetry.Extensions.Hosting.csproj
  src/OpenTelemetry.Extensions.Hosting/OpenTelemetryBuilder.cs
  src/OpenTelemetry.Extensions.Hosting/OpenTelemetryMetricsBuilderExtensions.cs
  src/OpenTelemetry/Internal/OpenTelemetrySdkEventSource.cs
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggingExtensions.cs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Metrics/Metric.cs
  src/OpenTelemetry/Metrics/MetricReaderExt.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetry.Extensions.Hosting.Tests.csproj
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetryBuilderTests.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetryMetricsBuilderExtensionsTests.cs
  test/OpenTelemetry.Tests/Metrics/MeterProviderSdkTest.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricSnapshotTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
Labels: area:ext:hosting

#4916 [sdk + otlp] Add log processor factory overload
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/.publicApi/Stable/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/README.md
  src/OpenTelemetry/.publicApi/Stable/PublicAPI.Shipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggerOptions.cs
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggerProvider.cs
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggingExtensions.cs
  src/OpenTelemetry/ProviderExtensions.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/IntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
  test/OpenTelemetry.Tests/Logs/OpenTelemetryLoggingExtensionsTests.cs
Labels: area:sdk, area:exporter:otlp

#5080 [otlp] Improve README around using Options API for configuration
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/README.md
Labels: area:exporter:otlp

#5072 [logging] UseOpenTelemetry extension & WithLogging default behavior
  src/OpenTelemetry.Extensions.Hosting/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Extensions.Hosting/CHANGELOG.md
  src/OpenTelemetry.Extensions.Hosting/OpenTelemetryBuilder.cs
  src/OpenTelemetry/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggingExtensions.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetryServicesExtensionsTests.cs
  test/OpenTelemetry.Tests/Logs/OpenTelemetryLoggingExtensionsTests.cs
Labels: area:sdk, area:ext:hosting
