Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2024-11, with the labels that each got.

#5946 [otlp] Update TraceSerializer to use attributes / dropped from state.
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5642 [sdk] Expose the ctor on Batch<T> which accepts a single item
  src/OpenTelemetry/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry/Batch.cs
  src/OpenTelemetry/CHANGELOG.md
  test/OpenTelemetry.Tests/Trace/BatchTest.cs
Labels: pkg:OpenTelemetry, Stale

#5947 [otlp] Custom serialzer resource tweaks
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpResourceSerializer.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5951 [otlp] Remove the direct dependency on Microsoft.Extensions.Configuration.Binder
  Directory.Packages.props
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OpenTelemetry.Exporter.OpenTelemetryProtocol.csproj
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, infra, dependencies

#5953 [repo] Add Rajkumar Rangaraj as approver
  README.md
Labels: documentation

#5956 [sdk-metrics] Stablize MetricPoint reclaim feature for delta aggregation
  docs/metrics/README.md
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Metrics/Metric.cs
  src/OpenTelemetry/Metrics/MetricPoint/MetricPoint.cs
  src/OpenTelemetry/Metrics/Reader/MetricReaderExt.cs
  test/OpenTelemetry.Tests/Metrics/AggregatorTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricOverflowAttributeTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricPointReclaimTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricSnapshotTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
Labels: pkg:OpenTelemetry, documentation, metrics

#5957 [docs] Tweaks for stable metric point reclaim
  RELEASENOTES.md
  docs/metrics/README.md
  src/OpenTelemetry/CHANGELOG.md
Labels: pkg:OpenTelemetry, documentation

#5959 Move Reiley Yang 🐇 to Emeritus👋
  README.md
Labels: documentation

#5958 [otlp] OTLP Exporter Custom serializer - (Part 1) Counter and Gauge
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5960 [tests] Clean up class structure in metrics tests
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetry.Extensions.Hosting.Tests.csproj
  test/OpenTelemetry.Tests/Metrics/AggregatorTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricOverflowAttributeTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricPointReclaimTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricSnapshotTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Extensions.Hosting

#5965 [docs-metrics] Add content for histogram bucket configuration via advice api
  RELEASENOTES.md
  docs/metrics/customizing-the-sdk/README.md
Labels: documentation, metrics

#5962 [otlp] OTLP Exporter Custom serializer - (Part 2) Histogram and Exponential Histogram
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/Serializer/ProtobufSerializerTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5961 [docs] Add digital signing section with sigstore details
  README.md
Labels: documentation

#5967 [repo] Updates for .NET 9 release
  Directory.Packages.props
  global.json
  src/OpenTelemetry.Api.ProviderBuilderExtensions/CHANGELOG.md
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Extensions.Hosting/CHANGELOG.md
  src/OpenTelemetry/CHANGELOG.md
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, infra, pkg:OpenTelemetry.Extensions.Hosting, dependencies, pkg:OpenTelemetry.Api.ProviderBuilderExtensions

#5972 [docs] Document links maybe added after Activity creation
  src/OpenTelemetry.Api/README.md
  test/OpenTelemetry.Tests/Trace/TracerProviderSdkTest.cs
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, documentation

#5975 [otlp] OTLP Exporter Custom serializer - (Part 3) Outstanding TODOs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5977 [otlp] Add Log and Mertic Exporter to transmit custom serialized data
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/ProtobufOtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/ProtobufOtlpMetricExporter.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5985 [perf] Update Stress Test to avoid false sharing
  test/OpenTelemetry.Tests.Stress/StressTest.cs
Labels: pkg:OpenTelemetry, perf

#5980 [otlp] Deserialize GrpcStatusDetailsHeader to Retrieve Grpc Retry Delay
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/Grpc/GrpcStatusDeserializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/ExportClient/GrpcStatusDeserializerTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5989 [otlp] Fix ProtobufOtlpLogSerializer pool handling
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogSerializer.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5988 [otlp] Buffer Size Handling with Retry Logic and OTLP Signal Path
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ProtobufOtlpHttpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OpenTelemetryProtocolExporterEventSource.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Transmission/ProtobufOtlpExporterPersistentStorageTransmissionHandler.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptionsExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpSignalType.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/ProtobufOtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/ProtobufOtlpMetricExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/ProtobufOtlpTraceExporter.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6000 [otlp] Grpc Status check and retry
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/BaseOtlpGrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ExportClientGrpcResponse.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ExportClientResponse.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/Grpc/GrpcProtocolHelpers.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/Grpc/Status.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcLogExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcMetricsExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcTraceExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpRetry.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ProtobufOtlpGrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ProtobufOtlpHttpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OpenTelemetryProtocolExporterEventSource.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Transmission/OtlpExporterTransmissionHandler.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Transmission/ProtobufOtlpExporterTransmissionHandler.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/MockCollectorIntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpRetryTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6001 [otlp] Refactor shared protobuf otlp export client code into a base class
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ProtobufOtlpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ProtobufOtlpGrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ProtobufOtlpHttpExportClient.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6003 [otlp] Replace the current trace implementation with the new one
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcTraceExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpHttpTraceExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ProtobufOtlpHttpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptionsExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/ProtobufOtlpTraceExporter.cs
  test/Benchmarks/Exporter/OtlpGrpcExporterBenchmarks.cs
  test/Benchmarks/Exporter/OtlpHttpExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/ExportClient/OtlpHttpTraceExportClientTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/MockCollectorIntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsExtensionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/TestProtobufExportClient.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, perf
