Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2024-04, with the labels that each got.

#5495 [otlp] Rename key for enabling retries during transient failures
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExperimentalOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/README.md
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/MockCollectorIntegrationTests.cs
Labels: area:exporter:otlp

#5508 Metrics doc minor improvement
  docs/metrics/README.md
Labels: documentation

#5509 [sdk-metrics] Refactor AggregatorStore
  src/OpenTelemetry/Metrics/AggregatorStore.cs
Labels: area:sdk, metrics

#5303 [api-baggage] fix encoding of space chars in baggage item value
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Api/Context/Propagation/BaggagePropagator.cs
  test/OpenTelemetry.Api.Tests/Trace/Propagation/BaggagePropagatorTest.cs
Labels: area:api

#5516 Bump OTLP proto files to 1.2.0
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/opentelemetry/proto/metrics/v1/metrics.proto
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/opentelemetry/proto/trace/v1/trace.proto
Labels: area:exporter:otlp

#5520 Improve AoT validation and fix OpenTelemetryProtocol AoT warnings
  .github/workflows/verifyaotcompat.yml
  Directory.Packages.props
  build/test-aot-compatibility.ps1
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OpenTelemetry.Exporter.OpenTelemetryProtocol.csproj
  src/Shared/Options/DelegatingOptionsFactory.cs
  src/Shared/Options/DelegatingOptionsFactoryServiceCollectionExtensions.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: area:exporter:otlp

#5523 [otlp] Add comments capturing details about SYSLIB1100 & SYSLIB1101 suppressions in project
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OpenTelemetry.Exporter.OpenTelemetryProtocol.csproj
Labels: area:exporter:otlp

#5498 [Instrumentation.GrpNetClient, Instrumentation.SqlCliet] set ActivitySource.Version to NuGet package version
  OpenTelemetry.sln
  src/OpenTelemetry.Instrumentation.GrpcNetClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/Implementation/GrpcClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry/OpenTelemetry.csproj
  src/OpenTelemetry/Sdk.cs
  src/Shared/AssemblyVersionExtensions.cs
  test/OpenTelemetry.Instrumentation.Grpc.Tests/GrpcTests.client.cs
  test/OpenTelemetry.Tests/Shared/AssemblyVersionExtensionsTests.cs
Labels: area:instrumentation

#5528 [Exporter.OpenTelemetryProtocol] User agent changed to OTel-OTLP-Exporter-Dotnet/{NuGet Package Version}
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptions.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/Implementation/GrpcClientDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
  src/OpenTelemetry/Sdk.cs
  src/Shared/AssemblyVersionExtensions.cs
  test/OpenTelemetry.Tests/Shared/AssemblyVersionExtensionsTests.cs
Labels: area:exporter:otlp

#5514 [logs] Mitigate unwanted object creation during configuration reload
  OpenTelemetry.sln
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggerOptions.cs
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggingExtensions.cs
  src/Shared/Options/DelegatingOptionsFactory.cs
  src/Shared/Options/DelegatingOptionsFactoryServiceCollectionExtensions.cs
  src/Shared/Options/SingletonOptionsManager.cs
  test/OpenTelemetry.Tests/Logs/OpenTelemetryLoggingExtensionsTests.cs
Labels: area:sdk, logs

#5532 [Instrumentation.Http][Instrumentation.AspNetCore] Fix `url.full` and `url.query` attribute values
  OpenTelemetry.sln
  src/OpenTelemetry.Instrumentation.AspNetCore/AspNetCoreTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.AspNetCore/OpenTelemetry.Instrumentation.AspNetCore.csproj
  src/OpenTelemetry.Instrumentation.AspNetCore/README.md
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentationTracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpTagHelper.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpWebRequestActivitySource.netfx.cs
  src/OpenTelemetry.Instrumentation.Http/OpenTelemetry.Instrumentation.Http.csproj
  src/OpenTelemetry.Instrumentation.Http/README.md
  src/Shared/RedactionHelper.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/IncomingRequestsCollectionsIsAccordingToTheSpecTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestActivitySourceTests.netfx.cs
  test/OpenTelemetry.Tests/Internal/RedactionHelperTest.cs
  test/OpenTelemetry.Tests/OpenTelemetry.Tests.csproj
Labels: area:instrumentation

#5534 Fix the OpenTelemetry Registry URL in main README
  README.md
Labels: documentation

#5531 [repo] Define release process for unstable core components
  .github/workflows/ci.yml
  .github/workflows/package-validation.yml
  .github/workflows/publish-packages-1.0.yml
  OpenTelemetry.sln
  build/Common.prod.props
  build/RELEASING.md
  build/UnstableCoreLibraries.proj
  src/Directory.Build.targets
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/OpenTelemetry.Exporter.Prometheus.AspNetCore.csproj
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/OpenTelemetry.Exporter.Prometheus.HttpListener.csproj
  src/OpenTelemetry.Instrumentation.AspNetCore/OpenTelemetry.Instrumentation.AspNetCore.csproj
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/OpenTelemetry.Instrumentation.Http/OpenTelemetry.Instrumentation.Http.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
  src/OpenTelemetry.Shims.OpenTracing/OpenTelemetry.Shims.OpenTracing.csproj
Labels: infra

#5542 [sdk-metrics] Expose ExemplarReservoir and support configuration via views
  src/OpenTelemetry/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Internal/OpenTelemetrySdkEventSource.cs
  src/OpenTelemetry/Metrics/Exemplar/ExemplarReservoir.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
  src/OpenTelemetry/Metrics/MetricStreamConfiguration.cs
Labels: area:sdk, metrics

#5549 [Doc] provide recommendation on log scopes
  docs/logs/customizing-the-sdk/README.md
Labels: documentation

#5546 [sdk-metrics] Fix race condition for MemoryPoint Reclaim
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/LookupData.cs
Labels: area:sdk, metrics

#5554 [docs-metrics] Remove predicate-based View examples
  docs/metrics/customizing-the-sdk/Program.cs
  docs/metrics/customizing-the-sdk/README.md
Labels: documentation

#5562 [api] Fix Baggage XML documentation
  src/OpenTelemetry.Api/Baggage.cs
Labels: area:api

#5561 [repo] Improve the scripts used in the release process
  OpenTelemetry.sln
  build/RELEASING.md
  build/finalize-publicapi.ps1
  build/generate-combined-changelog.ps1
  build/update-changelogs.ps1
Labels: infra

#5565 [repo] Cleanup unused packages
  Directory.Packages.props
Labels: infra

#5571 [hosting] Revert obsoletion of OpenTelemetryBuilder
  src/OpenTelemetry.Extensions.Hosting/CHANGELOG.md
  src/OpenTelemetry.Extensions.Hosting/OpenTelemetryBuilder.cs
  src/OpenTelemetry.Extensions.Hosting/OpenTelemetryServicesExtensions.cs
Labels: area:ext:hosting

#5573 [repo-ci] Switch to using dotnet tool install in docfx workflow
  .github/workflows/docfx.yml
Labels: infra

#5572 [sdk-metrics] Clean up some malformed xml docs in exemplar code
  src/OpenTelemetry/Metrics/Exemplar/ExemplarReservoir.cs
  src/OpenTelemetry/Metrics/MetricStreamConfiguration.cs
Labels: area:sdk, metrics

#5575 Bump OTLP proto files to 1.3.0
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/opentelemetry/proto/collector/profiles/v1experimental/profiles_service.proto
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/opentelemetry/proto/collector/profiles/v1experimental/profiles_service_http.yaml
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/opentelemetry/proto/profiles/v1experimental/pprofextended.proto
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/opentelemetry/proto/profiles/v1experimental/profiles.proto
Labels: area:exporter:otlp

#5578 [sdk-metrics] Tweak SetExemplarFilter API and improve XML docs
  src/OpenTelemetry/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
Labels: area:sdk, metrics

#5574 [Instrumentation.Http] Move to contrib repository
  Directory.Packages.props
  OpenTelemetry.sln
  README.md
  build/RELEASING.md
  docs/trace/README.md
  docs/trace/extending-the-sdk/README.md
  docs/trace/getting-started-jaeger/README.md
  docs/trace/getting-started-jaeger/getting-started-jaeger.csproj
  examples/AspNetCore/Examples.AspNetCore.csproj
  examples/Console/Examples.Console.csproj
  src/OpenTelemetry.Api/README.md
  src/OpenTelemetry.Instrumentation.GrpcNetClient/HttpRequestMessageContextPropagation.cs
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/OpenTelemetry.Instrumentation.GrpcNetClient/README.md
  src/OpenTelemetry.Instrumentation.Http/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Instrumentation.Http/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Instrumentation.Http/AssemblyInfo.cs
  src/OpenTelemetry.Instrumentation.Http/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentation.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentationMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientInstrumentationTracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientMetrics.cs
  src/OpenTelemetry.Instrumentation.Http/HttpClientTraceInstrumentationOptions.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerMetricsDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpInstrumentationEventSource.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpTagHelper.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpWebRequestActivitySource.netfx.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/TelemetryHelper.cs
  src/OpenTelemetry.Instrumentation.Http/OpenTelemetry.Instrumentation.Http.csproj
  src/OpenTelemetry.Instrumentation.Http/README.md
  test/Benchmarks/Benchmarks.csproj
  test/Benchmarks/Instrumentation/HttpClientInstrumentationBenchmarks.cs
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
  test/OpenTelemetry.Exporter.Zipkin.Tests/OpenTelemetry.Exporter.Zipkin.Tests.csproj
  test/OpenTelemetry.Instrumentation.Grpc.Tests/OpenTelemetry.Instrumentation.Grpc.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/EventSourceTest.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpClientTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpTestData.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestActivitySourceTests.netfx.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.Basic.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/HttpWebRequestTests.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/OpenTelemetry.Instrumentation.Http.Tests.csproj
  test/OpenTelemetry.Instrumentation.Http.Tests/RetryHandler.cs
  test/OpenTelemetry.Instrumentation.Http.Tests/http-out-test-cases.json
  test/OpenTelemetry.Instrumentation.W3cTraceContext.Tests/OpenTelemetry.Instrumentation.W3cTraceContext.Tests.csproj
Labels: area:instrumentation
