Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2024-03, with the labels that each got.

#5404 [sdk-metrics] ExemplarFilter updates to match latest specification
  docs/metrics/customizing-the-sdk/README.md
  docs/metrics/extending-the-sdk/README.md
  examples/AspNetCore/Program.cs
  src/OpenTelemetry/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/Exemplar/AlwaysOffExemplarFilter.cs
  src/OpenTelemetry/Metrics/Exemplar/AlwaysOnExemplarFilter.cs
  src/OpenTelemetry/Metrics/Exemplar/ExemplarFilter.cs
  src/OpenTelemetry/Metrics/Exemplar/ExemplarFilterType.cs
  src/OpenTelemetry/Metrics/Exemplar/TraceBasedExemplarFilter.cs
  test/Benchmarks/Metrics/ExemplarBenchmarks.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
  test/OpenTelemetry.Tests.Stress.Metrics/Program.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
Labels: area:sdk, metrics

#5408 [sdk-metrics] Remove ExemplarFilter classes
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderSdk.cs
  src/OpenTelemetry/Metrics/Exemplar/AlwaysOffExemplarFilter.cs
  src/OpenTelemetry/Metrics/Exemplar/AlwaysOnExemplarFilter.cs
  src/OpenTelemetry/Metrics/Exemplar/ExemplarFilter.cs
  src/OpenTelemetry/Metrics/Exemplar/TraceBasedExemplarFilter.cs
  src/OpenTelemetry/Metrics/Metric.cs
  src/OpenTelemetry/Metrics/MetricReaderExt.cs
  test/OpenTelemetry.Tests/Metrics/AggregatorTestsBase.cs
Labels: area:sdk, metrics

#5409 [sdk-metrics] Use FrozenSet on net8+ for custom tag lookup
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/Exemplar/Exemplar.cs
  src/OpenTelemetry/Metrics/ThreadStaticStorage.cs
  src/OpenTelemetry/ReadOnlyFilteredTagCollection.cs
Labels: area:sdk, metrics

#5412 [sdk-metrics] Support setting exemplar filter from spec envvar key
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Metrics/MetricReaderExt.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetry.Extensions.Hosting.Tests.csproj
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricPointReclaimTestsBase.cs
  test/OpenTelemetry.Tests/Shared/SkipUnlessTrueTheoryAttribute.cs
Labels: area:sdk, metrics

#5406 Improve log filter example
  docs/logs/customizing-the-sdk/Program.cs
  docs/logs/customizing-the-sdk/README.md
Labels: documentation

#5414 [sdk-metrics] Pass all tags supplied at measurement to ExemplarReservoir.Offer methods
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/Exemplar/Exemplar.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
Labels: area:sdk, metrics

#5422 [repo-shared] Remove the new() constraint from Options API helpers
  src/Shared/Options/ConfigurationExtensions.cs
  src/Shared/Options/DelegatingOptionsFactory.cs
Labels: area:sdk

#5423 [sdk] Add ActivityExportProcessorOptions and clean up MetricReaderOptions
  src/OpenTelemetry/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry/Internal/Builder/ProviderBuilderServiceCollectionExtensions.cs
  src/OpenTelemetry/Metrics/MetricReaderOptions.cs
  src/OpenTelemetry/Trace/ActivityExportProcessorOptions.cs
  test/OpenTelemetry.Tests/Internal/PeriodicExportingMetricReaderHelperTests.cs
Labels: area:sdk, metrics, logs, traces

#5424 [sdk-logs+traces] Add internal processor weight api
  src/OpenTelemetry/BaseProcessor.cs
  src/OpenTelemetry/Logs/LoggerProviderSdk.cs
  src/OpenTelemetry/Trace/Builder/TracerProviderBuilderSdk.cs
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
  test/OpenTelemetry.Tests/Logs/LoggerProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderBuilderExtensionsTest.cs
Labels: area:sdk, logs, traces

#5427 [otlp] Rename ProgrammaticallyModifiedEndpoint -> AppendSignalPathToEndpoint
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/BaseOtlpHttpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptions.cs
Labels: area:exporter:otlp

#5428 [otlp] Move spec envvar key definitions to a single spot
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpExporterSpecEnvVarKeyDefinitions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporterExtensions.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/BaseOtlpHttpExportClientTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
Labels: area:exporter:otlp

#5394 [Otlp] Fix Http Retry to cover network failure and add tests
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpRetry.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpRetryTests.cs
Labels: area:exporter:otlp

#5429 [otlp] Add foundation for signal-specific envvars
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpExporterOptionsConfigurationType.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpExporterSpecEnvVarKeyDefinitions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpSpecConfigDefinitions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporterExtensions.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/BaseOtlpHttpExportClientTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
Labels: area:exporter:otlp

#5434 [otlp] Nullable annotations for the OtlpExporterOptions class and some xml doc improvement
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/.publicApi/Stable/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporterHelperExtensions.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: area:exporter:otlp

#5433 [otlp] Add Retry Handler
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpRetry.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Transmission/OtlpExporterRetryTransmissionHandler.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Transmission/RetryHelper.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/MockCollectorIntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpRetryTests.cs
Labels: area:exporter:otlp

#5435 [otlp] Add experimental feature flag for enabling retries
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExperimentalOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptionsExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporterHelperExtensions.cs
  test/Benchmarks/Exporter/OtlpGrpcExporterBenchmarks.cs
  test/Benchmarks/Exporter/OtlpHttpExporterBenchmarks.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/IntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/MockCollectorIntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsExtensionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: area:exporter:otlp

#5400 [otlp] UseOtlpExporter cross-cutting extension
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Builder/OpenTelemetryBuilderOtlpExporterExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Builder/OpenTelemetryBuilderServiceProviderExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Builder/OtlpExporterBuilder.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Builder/OtlpExporterBuilderOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Builder/UseOtlpExporterRegistration.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/IOtlpExporterOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpServiceCollectionExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OpenTelemetry.Exporter.OpenTelemetryProtocol.csproj
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/README.md
  src/OpenTelemetry/AssemblyInfo.cs
  src/OpenTelemetry/CompositeProcessor.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Http2UnencryptedSupportTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/IntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpSpecConfigDefinitionTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/UseOtlpExporterExtensionTests.cs
Labels: area:sdk, area:exporter:otlp

#5448 [sdk-traces] Add support for OTEL_TRACES_SAMPLER and OTEL_TRACES_SAMPLER_ARG
  docs/trace/customizing-the-sdk/README.md
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Internal/OpenTelemetrySdkEventSource.cs
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderSdkTest.cs
Labels: area:sdk, traces

#5459 Docs - best practices for ILogger.IsEnabled
  docs/logs/README.md
  test/Benchmarks/Logs/Food.cs
  test/Benchmarks/Logs/LogBenchmarks.cs
Labels: documentation

#5452 [otlp] Update README for UseOtlpExporter & new experimental flag
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Builder/OpenTelemetryBuilderOtlpExporterExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/README.md
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/UseOtlpExporterExtensionTests.cs
Labels: area:exporter:otlp, documentation

#5457 [sdk-metrics] Tags perf improvements
  src/OpenTelemetry/Metrics/Tags.cs
Labels: area:sdk, metrics

#5455 [shared] Tag transformer improvements
  OpenTelemetry.sln
  src/OpenTelemetry.Exporter.Console/ConsoleActivityExporter.cs
  src/OpenTelemetry.Exporter.Console/ConsoleExporter.cs
  src/OpenTelemetry.Exporter.Console/ConsoleLogRecordExporter.cs
  src/OpenTelemetry.Exporter.Console/ConsoleMetricExporter.cs
  src/OpenTelemetry.Exporter.Console/Implementation/ConsoleTagTransformer.cs
  src/OpenTelemetry.Exporter.Console/OpenTelemetry.Exporter.Console.csproj
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ActivityExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/MetricItemExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpKeyValueTransformer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpLogRecordTransformer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpTagTransformer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ResourceExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OpenTelemetry.Exporter.OpenTelemetryProtocol.csproj
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporter.cs
  src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinTagTransformer.cs
  src/OpenTelemetry.Exporter.Zipkin/OpenTelemetry.Exporter.Zipkin.csproj
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporter.cs
  src/Shared/Shims/NullableAttributes.cs
  src/Shared/TagAndValueTransformer.cs
  src/Shared/TagTransformer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpAttributeTests.cs
Labels: area:exporter:otlp

#5465 [sdk-metrics] Exemplar concurrency updates
  OpenTelemetry.sln
  src/OpenTelemetry/Metrics/Exemplar/Exemplar.cs
  src/OpenTelemetry/Metrics/Exemplar/FixedSizeExemplarReservoir.cs
  src/OpenTelemetry/Metrics/Exemplar/SimpleFixedSizeExemplarReservoir.cs
  src/OpenTelemetry/OpenTelemetry.csproj
  src/Shared/ThreadSafeRandom.cs
Labels: area:sdk, metrics

#5432 sync changes in shared files
  src/Shared/ActivityInstrumentationHelper.cs
  src/Shared/ResourceSemanticConventions.cs
  src/Shared/SemanticConventions.cs
Labels: Stale

#5490 [repo] Bump MinVer to 5.0.0
  Directory.Packages.props
Labels: infra

#5484 [Instrumentation.AspNetCore] Fix span names when http.request.method is reporter as _OTHER
  src/OpenTelemetry.Instrumentation.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Instrumentation.AspNetCore/Implementation/HttpInListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpHandlerDiagnosticListener.cs
  src/OpenTelemetry.Instrumentation.Http/Implementation/HttpWebRequestActivitySource.netfx.cs
  src/Shared/RequestMethodHelper.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/BasicTests.cs
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/RoutingTests.cs
Labels: area:instrumentation

#5486 [otlp] Remove AppContext verification when using grpc + insecure endpoints
  examples/Console/TestLogs.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/BaseOtlpGrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ExporterClientValidation.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/ExporterClientValidationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Http2UnencryptedSupportTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/IntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExportProtocolParserTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsExtensionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: area:exporter:otlp

#5492 [docs-traces] Added version info to the OTEL_TRACES_SAMPLER doc
  docs/trace/customizing-the-sdk/README.md
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
Labels: documentation

#5493 [docs-metrics] Add back SetMaxMetricPointsPerMetricStream example
  docs/metrics/customizing-the-sdk/README.md
Labels: documentation, metrics
