Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2024-12, with the labels that each got.

#6008 [repo] Move Utkarsh to Emeritus
  README.md
Labels: documentation

#6010 [otlp] refactor constants
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/.editorconfig
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpCommonFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTagWriter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6013 [otlp] Expand array buffer / add tests to existing base buffer
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OpenTelemetryProtocolExporterEventSource.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTagWriter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporter.cs
  src/Shared/TagWriter/ArrayTagWriter.cs
  src/Shared/TagWriter/TagWriter.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/ExportClient/OtlpHttpTraceExportClientTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/Serializer/OtlpArrayTagWriterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6015 [otlp] Update changelog / Remove OtlpExporter resource modification code
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpResourceSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/ExportClient/OtlpHttpTraceExportClientTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpResourceTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6019 [otlp] Avoid filling new buffer on expansion
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufSerializer.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6020 [otlp] Enable OTLP exporter for multiple registrations
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpMetricSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6029 [prometheus] Update links to openmetrics to reference the v1.0.0 release
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/CHANGELOG.md
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusMetric.cs
  src/Shared/Proto/opentelemetry/proto/metrics/v1/metrics.proto
Labels: pkg:OpenTelemetry.Exporter.Prometheus.AspNetCore, documentation, metrics, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener

#6033 Minor improvements to example doc
  examples/AspNetCore/README.md
Labels: documentation

#6032 [Exporter.OpenTelemetryProtocol] Remove PeerServiceResolver from compilation
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OpenTelemetry.Exporter.OpenTelemetryProtocol.csproj
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6038 [repo] Breakdown emeritus into roles in main README
  README.md
Labels: documentation

#5982 [sdk-metrics] Include Meter.Tags in metric identity resolution
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/Metric.cs
  src/OpenTelemetry/Metrics/MetricStreamIdentity.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTests.cs
Labels: pkg:OpenTelemetry, metrics, Stale, spec-compliance
