Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2024-02, with the labels that each got.

#5298 [Editorial] add ToC to logging/metrics docs
  README.md
  docs/logs/README.md
  docs/metrics/README.md
Labels: documentation, metrics

#5268 [Logs Bridge API] Add support for Body set directly on LogRecord for OTLP Exporter.
  src/OpenTelemetry.Exporter.InMemory/AssemblyInfo.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpLogRecordTransformer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
Labels: area:exporter:otlp, logs

#5299 Metrics docs improvement - exemplar, enrichment, memory
  docs/metrics/README.md
Labels: documentation, metrics

#5304 [prometheus-httplistener] Throw an exception if the listener cannot be started
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/CHANGELOG.md
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/PrometheusHttpListener.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/PrometheusHttpListenerMeterProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/PrometheusHttpListenerTests.cs
Labels: area:exporter:prometheus, metrics

#5306 [aspnetcore-route-docs] Fix markdown to make markdownlint v15 happy
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/README.net6.0.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/README.net7.0.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/README.net8.0.md
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/RoutingTestCases.json
  test/OpenTelemetry.Instrumentation.AspNetCore.Tests/RouteTests/RoutingTestFixture.cs
Labels: area:instrumentation, documentation

#5294 Bump codecov/codecov-action from 3.1.5 to 4.0.1
  .github/workflows/Component.BuildTest.yml
Labels: infra

#5307 [metrics] Fix perf regression introduced by metric point reclaim feature
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
Labels: area:sdk, metrics

#5300 [otlp] Use LogRecord.Logger.Name for instrumentation scope if LogRecord.CategoryName is null
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpLogRecordTransformer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
Labels: area:exporter:otlp, logs

#5312 [sdk] Added support for setting `CardinalityLimit` allowed for the metric managed by the view.
  OpenTelemetry.sln
  build/Common.props
  docs/diagnostics/experimental-apis/OTEL1003.md
  docs/diagnostics/experimental-apis/README.md
  src/OpenTelemetry/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/MetricReaderExt.cs
  src/OpenTelemetry/Metrics/MetricStreamConfiguration.cs
  src/Shared/DiagnosticDefinitions.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
Labels: area:sdk, metrics

#5317 [sdk-logs] Update LogRecord to keep CategoryName and Logger in sync
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OtlpLogRecordTransformer.cs
  src/OpenTelemetry/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Internal/InstrumentationScopeLogger.cs
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLogger.cs
  src/OpenTelemetry/Logs/LogRecord.cs
  test/OpenTelemetry.Tests/Logs/LogRecordTest.cs
Labels: area:sdk, area:exporter:otlp, logs

#5321 [metrics] Document view level cardinality limit
  docs/metrics/README.md
  docs/metrics/customizing-the-sdk/README.md
  docs/metrics/getting-started-console/Program.cs
  docs/metrics/getting-started-console/README.md
Labels: documentation, metrics

#5328 [sdk-metrics] Obsolete SetMaxMetricPointsPerMetricStream + standarize on "Cardinality Limit" name
  docs/diagnostics/experimental-apis/OTEL1003.md
  docs/metrics/README.md
  docs/metrics/customizing-the-sdk/README.md
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderSdk.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Metrics/Metric.cs
  src/OpenTelemetry/Metrics/MetricReaderExt.cs
  src/OpenTelemetry/Metrics/MetricStreamConfiguration.cs
  test/OpenTelemetry.Tests/Metrics/AggregatorTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricOverflowAttributeTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricPointReclaimTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
Labels: bug, area:sdk, documentation, metrics

#5332 [Editorial] Update the docs based on Copilot review feedback
  docs/logs/README.md
  docs/metrics/README.md
  docs/trace/README.md
Labels: documentation

#5337 Add MinVerTagPrefix for SQL and gRPC instrumentation
  src/OpenTelemetry.Instrumentation.GrpcNetClient/OpenTelemetry.Instrumentation.GrpcNetClient.csproj
  src/OpenTelemetry.Instrumentation.SqlClient/OpenTelemetry.Instrumentation.SqlClient.csproj
Labels: area:instrumentation, infra

#5338 [sdk-metrics] Remove some reflection used by tests
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  test/OpenTelemetry.Tests/Metrics/MetricPointReclaimTestsBase.cs
Labels: area:sdk, metrics

#5359 [sdk] Rename SimpleExemplarReservoir to SimpleFixedSizeExemplarReservoir
  docs/metrics/customizing-the-sdk/README.md
  src/OpenTelemetry/Metrics/Exemplar/SimpleFixedSizeExemplarReservoir.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
Labels: metrics

#5362 [repo] Bump Microsoft.Extensions.Telemetry.Abstractions to 8.2.0
  Directory.Packages.props
  docs/logs/complex-objects/Program.cs
  docs/logs/complex-objects/README.md
Labels: documentation, infra

#5356 [docs-logging] Add a logging doc for showing how to set up a dedicated pipeline for specific logs
  OpenTelemetry.sln
  docs/logs/dedicated-pipeline/DedicatedLogging/DedicatedLoggingServiceCollectionExtensions.cs
  docs/logs/dedicated-pipeline/DedicatedLogging/IDedicatedLogger.cs
  docs/logs/dedicated-pipeline/Program.cs
  docs/logs/dedicated-pipeline/README.md
  docs/logs/dedicated-pipeline/appsettings.Development.json
  docs/logs/dedicated-pipeline/appsettings.json
  docs/logs/dedicated-pipeline/dedicated-pipeline.csproj
Labels: documentation, logs

#5335 Otlp Retry Part1 - Refactor ExportClients
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/BaseOtlpGrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/BaseOtlpHttpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ExportClientGrpcResponse.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ExportClientHttpResponse.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/ExportClientResponse.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/IExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcLogExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcMetricsExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcTraceExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Retry/OtlpExporterTransmissionHandler.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporter.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/ExportClient/OtlpHttpTraceExportClientTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/TestExportClient.cs
Labels: area:exporter:otlp

#5366 [sdk-metrics] Improve the perf of histogram snapshots
  src/OpenTelemetry/Metrics/HistogramBuckets.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricPointTests.cs
Labels: metrics

#5350 [sdk-metrics] Simplify the state built when an instrument is published
  src/OpenTelemetry/Metrics/CompositeMetricReaderExt.cs
  src/OpenTelemetry/Metrics/IMetricsListener/OpenTelemetryMetricsListener.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Metrics/MetricReaderExt.cs
  src/OpenTelemetry/Metrics/MetricState.cs
  src/OpenTelemetry/OpenTelemetry.csproj
Labels: area:sdk, metrics

#5368 [sdk-metrics] Clean up locking in MetricPoint
  src/OpenTelemetry/Metrics/Base2ExponentialBucketHistogram.cs
  src/OpenTelemetry/Metrics/HistogramBuckets.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
  src/OpenTelemetry/Metrics/MetricPointOptionalComponents.cs
Labels: metrics

#5375 [sdk-logs] Improve OpenTelemetryLogger.IsEnabled
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLogger.cs
Labels: area:sdk, logs

#5378 [sdk-metrics] Refactor and improve interlocking code for doubles in MetricPoint
  src/OpenTelemetry/Internal/InterlockedHelper.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
Labels: metrics

#5383 [ci] Add push trigger and workflow_dispatch trigger
  .github/workflows/ci.yml
Labels: infra

#5384 [ci] Add checkout for push and workflow_dispatch trigger
  .github/workflows/ci.yml
Labels: infra

#5386 [sdk-metrics] Exemplar spec improvements
  src/OpenTelemetry.Exporter.Console/ConsoleMetricExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/MetricItemExtensions.cs
  src/OpenTelemetry/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/Exemplar/AlignedHistogramBucketExemplarReservoir.cs
  src/OpenTelemetry/Metrics/Exemplar/Exemplar.cs
  src/OpenTelemetry/Metrics/Exemplar/ExemplarMeasurement.cs
  src/OpenTelemetry/Metrics/Exemplar/ExemplarReservoir.cs
  src/OpenTelemetry/Metrics/Exemplar/FixedSizeExemplarReservoir.cs
  src/OpenTelemetry/Metrics/Exemplar/ReadOnlyExemplarCollection.cs
  src/OpenTelemetry/Metrics/Exemplar/SimpleFixedSizeExemplarReservoir.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
  src/OpenTelemetry/Metrics/MetricPointOptionalComponents.cs
  src/OpenTelemetry/ReadOnlyFilteredTagCollection.cs
  src/OpenTelemetry/ReadOnlyTagCollection.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
Labels: area:sdk, metrics

#5392 [sdk-metrics] XML doc tweaks for exemplar experimental APIs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/Exemplar/AlignedHistogramBucketExemplarReservoir.cs
  src/OpenTelemetry/Metrics/Exemplar/AlwaysOffExemplarFilter.cs
  src/OpenTelemetry/Metrics/Exemplar/AlwaysOnExemplarFilter.cs
  src/OpenTelemetry/Metrics/Exemplar/Exemplar.cs
  src/OpenTelemetry/Metrics/Exemplar/ExemplarFilter.cs
  src/OpenTelemetry/Metrics/Exemplar/ExemplarMeasurement.cs
  src/OpenTelemetry/Metrics/Exemplar/ExemplarReservoir.cs
  src/OpenTelemetry/Metrics/Exemplar/ReadOnlyExemplarCollection.cs
  src/OpenTelemetry/Metrics/Exemplar/SimpleFixedSizeExemplarReservoir.cs
  src/OpenTelemetry/Metrics/Exemplar/TraceBasedExemplarFilter.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
Labels: area:sdk, metrics

#5393 [sdk-metrics] Improve exemplar tests
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/Metric.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
  src/OpenTelemetry/Metrics/MetricReaderExt.cs
  src/OpenTelemetry/Metrics/MetricStreamConfiguration.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
Labels: area:sdk, metrics

#5396 [sdk-metrics] Support exemplars when using exponential histograms
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/MetricPoint.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
Labels: area:sdk, metrics

#5397 [otlp-metrics] Support exemplars for all metric types
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/MetricItemExtensions.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
Labels: area:exporter:otlp, metrics

#5398 [sdk-metrics] Refactor duplicated update completion code into a helper in MetricPoint
  src/OpenTelemetry/Metrics/MetricPoint.cs
Labels: area:sdk, metrics

#5399 [sdk-metrics] Refactor exemplar offer duplicated code into helper methods inside MetricPoint
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
Labels: area:sdk, metrics

#5403 [sdk-metrics] ReadOnlyExemplarCollection tweaks
  src/OpenTelemetry/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry/Metrics/Exemplar/ReadOnlyExemplarCollection.cs
  src/OpenTelemetry/Metrics/MetricPoint.cs
  src/OpenTelemetry/Metrics/MetricPointOptionalComponents.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
Labels: area:sdk, metrics
