Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2024-07, with the labels that each got.

#5736 Bump OTLP proto files to 1.3.2
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/opentelemetry/proto/collector/profiles/v1experimental/profiles_service_http.yaml
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/opentelemetry/proto/profiles/v1experimental/pprofextended.proto
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/opentelemetry/proto/profiles/v1experimental/profiles.proto
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5740 [docs] Refresh getting started with AspNetCore and Jaeger
  Directory.Packages.props
  docs/trace/getting-started-aspnetcore/README.md
  docs/trace/getting-started-jaeger/README.md
Labels: documentation, infra, dependencies

#5743 [tests] Remove unused CustomTextMapPropagator
  test/OpenTelemetry.Tests/Shared/CustomTextMapPropagator.cs
Labels: pkg:OpenTelemetry

#5744 Bump System.Text.Json version due to CVE-2024-30105
  examples/Directory.Packages.props
  test/Directory.Packages.props
Labels: documentation, infra, dependencies

#5746 [benchmarks] Add LogBenchmark when BatchProcessor is used
  test/Benchmarks/Logs/LogBenchmarks.cs
Labels: perf

#5751 [infra] Fix a couple paths in PR auto-label file change detection
  build/scripts/add-labels.psm1
Labels: infra

#5745 [api] Fix `Fields` in `CompositeTextMapPropagator`
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Api/Context/Propagation/CompositeTextMapPropagator.cs
  test/OpenTelemetry.Api.Tests/Context/Propagation/B3PropagatorTest.cs
  test/OpenTelemetry.Api.Tests/Context/Propagation/BaggagePropagatorTest.cs
  test/OpenTelemetry.Api.Tests/Context/Propagation/CompositePropagatorTest.cs
  test/OpenTelemetry.Api.Tests/Context/Propagation/TestPropagator.cs
  test/OpenTelemetry.Api.Tests/Context/Propagation/TracestateUtilsTests.cs
  test/OpenTelemetry.Api.Tests/OpenTelemetry.Api.Tests.csproj
Labels: pkg:OpenTelemetry.Api

#5752 [benckmarks] Rename NoOp to Noop
  test/Benchmarks/Logs/LogBenchmarks.cs
Labels: perf

#5325 [sdk] Add OpenTelemetrySdk builder pattern
  src/OpenTelemetry/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/OpenTelemetrySdk.cs
  src/OpenTelemetry/OpenTelemetrySdkExtensions.cs
  test/OpenTelemetry.Tests/OpenTelemetrySdkTests.cs
Labels: pkg:OpenTelemetry, metrics, logs, traces

#5765 [Exporter.Console, Exporter.InMemory] Nullable
  src/OpenTelemetry.Exporter.Console/.publicApi/Stable/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Console/ConsoleActivityExporter.cs
  src/OpenTelemetry.Exporter.Console/ConsoleExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Console/ConsoleExporterLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Console/ConsoleExporterMetricsExtensions.cs
  src/OpenTelemetry.Exporter.Console/ConsoleLogRecordExporter.cs
  src/OpenTelemetry.Exporter.Console/ConsoleMetricExporter.cs
  src/OpenTelemetry.Exporter.Console/Implementation/ConsoleTagWriter.cs
  src/OpenTelemetry.Exporter.Console/OpenTelemetry.Exporter.Console.csproj
  src/OpenTelemetry.Exporter.InMemory/.publicApi/Stable/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.InMemory/InMemoryExporter.cs
  src/OpenTelemetry.Exporter.InMemory/InMemoryExporterMetricsExtensions.cs
  src/OpenTelemetry.Exporter.InMemory/OpenTelemetry.Exporter.InMemory.csproj
Labels: pkg:OpenTelemetry.Exporter.Console, pkg:OpenTelemetry.Exporter.InMemory
