Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2024-10, with the labels that each got.

#5862 [Extensions.Hosting.Tests] Nullable
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetry.Extensions.Hosting.Tests.csproj
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetryServicesExtensionsTests.cs
  test/OpenTelemetry.Tests/Metrics/AggregatorTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
  test/OpenTelemetry.Tests/Shared/SkipUnlessTrueTheoryAttribute.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Extensions.Hosting

#5874 [repo] Mitigate vulnerabilities in System.Text.Json 8.0.0 packages
  Directory.Packages.props
  OpenTelemetry.sln
  build/Common.props
  build/Common.targets
  examples/Directory.Build.targets
  examples/Directory.Packages.props
  examples/MicroserviceExample/WorkerService/WorkerService.csproj
  src/Directory.Build.targets
  src/OpenTelemetry.Exporter.Console/CHANGELOG.md
  src/OpenTelemetry.Exporter.Console/OpenTelemetry.Exporter.Console.csproj
  src/OpenTelemetry.Exporter.Zipkin/CHANGELOG.md
  src/OpenTelemetry.Exporter.Zipkin/OpenTelemetry.Exporter.Zipkin.csproj
  test/Directory.Build.targets
  test/Directory.Packages.props
  test/OpenTelemetry.Api.Tests/OpenTelemetry.Api.Tests.csproj
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests.csproj
  test/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests.csproj
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests.csproj
  test/OpenTelemetry.Exporter.Zipkin.Tests/OpenTelemetry.Exporter.Zipkin.Tests.csproj
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetry.Extensions.Hosting.Tests.csproj
  test/OpenTelemetry.Shims.OpenTracing.Tests/OpenTelemetry.Shims.OpenTracing.Tests.csproj
  test/OpenTelemetry.Tests.Stress/OpenTelemetry.Tests.Stress.csproj
  test/OpenTelemetry.Tests/OpenTelemetry.Tests.csproj
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, pkg:OpenTelemetry.Exporter.Prometheus.AspNetCore, documentation, infra, perf, pkg:OpenTelemetry.Extensions.Hosting, dependencies, pkg:OpenTelemetry.Exporter.Console, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener, pkg:OpenTelemetry.Exporter.Zipkin, pkg:OpenTelemetry.Shims.OpenTracing

#5888 [repo] Update stale.yml - reduce days before stale to 450
  .github/workflows/stale.yml
Labels: infra

#5884 [sdk] Support split reads in OTEL_DIAGNOSTICS.json config file parser logic
  src/OpenTelemetry/Internal/SelfDiagnosticsConfigParser.cs
  test/OpenTelemetry.Tests/Internal/SelfDiagnosticsEventListenerTest.cs
Labels: pkg:OpenTelemetry

#5891 [repo] Mitigate vulnerabilities in System.Text.Json 8.0.4 package
  Directory.Packages.props
  src/OpenTelemetry.Exporter.Console/CHANGELOG.md
  src/OpenTelemetry.Exporter.Zipkin/CHANGELOG.md
Labels: infra, dependencies, pkg:OpenTelemetry.Exporter.Console, pkg:OpenTelemetry.Exporter.Zipkin

#5894 [docs] Clarify the position regarding bot generated and AI-assisted PRs
  CONTRIBUTING.md
Labels: documentation

#5886 [repo] Directory.Packages.props cleanup
  Directory.Packages.props
Labels: infra, dependencies

#5896 [docs-metrics] Improve View documentation to show its additive nature
  docs/metrics/customizing-the-sdk/Program.cs
  docs/metrics/customizing-the-sdk/README.md
Labels: documentation, metrics

#5881 [Examples] Nullable
  examples/Console/Examples.Console.csproj
  examples/Console/InstrumentationWithActivitySource.cs
  examples/Console/Program.cs
  examples/Console/TestConsoleExporter.cs
  examples/Console/TestGrpcNetClient.cs
  examples/Console/TestHttpClient.cs
  examples/Console/TestInMemoryExporter.cs
  examples/Console/TestLogs.cs
  examples/Console/TestMetrics.cs
  examples/Console/TestOTelShimWithConsoleExporter.cs
  examples/Console/TestOpenTracingShim.cs
  examples/Console/TestOtlpExporter.cs
  examples/Console/TestPrometheusExporter.cs
  examples/Console/TestZipkinExporter.cs
  examples/MicroserviceExample/Utils/Messaging/RabbitMqHelper.cs
  examples/MicroserviceExample/Utils/Utils.csproj
Labels: documentation

#5882 [Tests] Nullable
  src/Shared/PooledList.cs
  test/OpenTelemetry.Tests/Internal/PooledListTest.cs
  test/OpenTelemetry.Tests/Internal/SelfDiagnosticsConfigParserTest.cs
  test/OpenTelemetry.Tests/Internal/SelfDiagnosticsEventListenerTest.cs
  test/OpenTelemetry.Tests/Internal/WildcardHelperTests.cs
  test/OpenTelemetry.Tests/Logs/BatchLogRecordExportProcessorTests.cs
  test/OpenTelemetry.Tests/Logs/LogRecordTest.cs
  test/OpenTelemetry.Tests/Logs/LoggerFactoryAndResourceBuilderTests.cs
  test/OpenTelemetry.Tests/Metrics/InMemoryExporterTests.cs
  test/OpenTelemetry.Tests/Metrics/MemoryEfficiencyTests.cs
  test/OpenTelemetry.Tests/Metrics/MeterProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Tests/Metrics/MeterProviderSdkTest.cs
  test/OpenTelemetry.Tests/Metrics/MeterProviderTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricExporterTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricOverflowAttributeTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricPointReclaimTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MultipleReadersTests.cs
  test/OpenTelemetry.Tests/OpenTelemetry.Tests.csproj
  test/OpenTelemetry.Tests/Resources/OtelEnvResourceDetectorTest.cs
  test/OpenTelemetry.Tests/Resources/OtelServiceNameEnvVarDetectorTests.cs
  test/OpenTelemetry.Tests/Resources/ResourceTest.cs
  test/OpenTelemetry.Tests/Shared/TestActivityProcessor.cs
  test/OpenTelemetry.Tests/Shared/TestSampler.cs
  test/OpenTelemetry.Tests/TestSelfDiagnosticsConfigRefresher.cs
  test/OpenTelemetry.Tests/Trace/BatchExportActivityProcessorOptionsTest.cs
  test/OpenTelemetry.Tests/Trace/BatchExportActivityProcessorTest.cs
  test/OpenTelemetry.Tests/Trace/BatchTest.cs
  test/OpenTelemetry.Tests/Trace/CompositeActivityProcessorTests.cs
  test/OpenTelemetry.Tests/Trace/CurrentSpanTests.cs
  test/OpenTelemetry.Tests/Trace/ExceptionProcessorTest.cs
  test/OpenTelemetry.Tests/Trace/ExportProcessorTest.cs
  test/OpenTelemetry.Tests/Trace/LinkTest.cs
  test/OpenTelemetry.Tests/Trace/ParentBasedSamplerTests.cs
  test/OpenTelemetry.Tests/Trace/Propagation/TraceContextPropagatorTest.cs
  test/OpenTelemetry.Tests/Trace/SamplersTest.cs
  test/OpenTelemetry.Tests/Trace/SimpleExportActivityProcessorTest.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderBuilderExtensionsTest.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderSdkTest.cs
Labels: pkg:OpenTelemetry

#5900 [docs] Nullable annotations
  docs/logs/redaction/MyRedactionProcessor.cs
  docs/logs/redaction/redaction.csproj
  docs/trace/customizing-the-sdk/customizing-the-sdk.csproj
Labels: documentation

#5901 [repo] cleanup #nullable disable
  CONTRIBUTING.md
  src/OpenTelemetry.Exporter.Console/Implementation/ConsoleTagWriter.cs
  src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinTagWriter.cs
  src/Shared/ActivityHelperExtensions.cs
  src/Shared/AssemblyVersionExtensions.cs
  src/Shared/Configuration/IConfigurationExtensionsLogger.cs
  src/Shared/Configuration/OpenTelemetryConfigurationExtensions.cs
  src/Shared/DiagnosticDefinitions.cs
  src/Shared/ExceptionExtensions.cs
  src/Shared/Guard.cs
  src/Shared/Metrics/Base2ExponentialBucketHistogramHelper.cs
  src/Shared/Options/DelegatingOptionsFactory.cs
  src/Shared/Options/DelegatingOptionsFactoryServiceCollectionExtensions.cs
  src/Shared/Options/SingletonOptionsManager.cs
  src/Shared/PeerServiceResolver.cs
  src/Shared/PeriodicExportingMetricReaderHelper.cs
  src/Shared/PooledList.cs
  src/Shared/ResourceSemanticConventions.cs
  src/Shared/SemanticConventions.cs
  src/Shared/SpanAttributeConstants.cs
  src/Shared/StatusHelper.cs
  src/Shared/TagWriter/ArrayTagWriter.cs
  src/Shared/TagWriter/JsonStringArrayTagWriter.cs
  src/Shared/TagWriter/TagWriter.cs
  test/OpenTelemetry.Api.Tests/BaggageTests.cs
  test/OpenTelemetry.Api.Tests/Context/RuntimeContextTest.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpRetryTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpSpecConfigDefinitionTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/UseOtlpExporterExtensionTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/VersionHelper.cs
  test/OpenTelemetry.Tests/Internal/AssemblyVersionExtensionsTests.cs
  test/OpenTelemetry.Tests/Internal/JsonStringArrayTagWriterTests.cs
  test/OpenTelemetry.Tests/Internal/PeriodicExportingMetricReaderHelperTests.cs
  test/OpenTelemetry.Tests/Internal/SelfDiagnosticsConfigRefresherTest.cs
  test/OpenTelemetry.Tests/Logs/BatchExportLogRecordProcessorOptionsTest.cs
  test/OpenTelemetry.Tests/Logs/LogRecordSharedPoolTests.cs
  test/OpenTelemetry.Tests/Logs/LogRecordStateProcessorTests.cs
  test/OpenTelemetry.Tests/Logs/LogRecordThreadStaticPoolTests.cs
  test/OpenTelemetry.Tests/Logs/LoggerProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Tests/Logs/LoggerProviderExtensionsTests.cs
  test/OpenTelemetry.Tests/Logs/LoggerProviderSdkTests.cs
  test/OpenTelemetry.Tests/Logs/OpenTelemetryLoggingExtensionsTests.cs
  test/OpenTelemetry.Tests/Metrics/AggregatorTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
  test/OpenTelemetry.Tests/OpenTelemetrySdkTests.cs
  test/OpenTelemetry.Tests/Shared/EventSourceTestHelper.cs
  test/OpenTelemetry.Tests/Shared/SkipUnlessEnvVarFoundFactAttribute.cs
  test/OpenTelemetry.Tests/Shared/SkipUnlessEnvVarFoundTheoryAttribute.cs
  test/OpenTelemetry.Tests/Shared/TestActivityProcessor.cs
  test/OpenTelemetry.Tests/Shared/TestEventListener.cs
  test/OpenTelemetry.Tests/Shared/TestHttpServer.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderBuilderBaseTests.cs
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, documentation, pkg:OpenTelemetry.Exporter.Console, pkg:OpenTelemetry.Exporter.Zipkin, pkg:OpenTelemetry.Shims.OpenTracing

#5899 [sdk-metrics] Use FrozenSet when looking up explicit bounds
  src/OpenTelemetry/Metrics/Metric.cs
Labels: pkg:OpenTelemetry, metrics

#5902 [repo] Update stale.yml - reduce days before stale to 300
  .github/workflows/stale.yml
Labels: infra

#5885 [repo] Add RELEASENOTES and READMEs to NuGet packages
  build/Common.prod.props
Labels: infra

#5897 [otlp] Export instrumentation scope attributes from ActivitySource.Tags
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ActivityExtensions.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/MockCollectorIntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, traces

#5818 Improve Integration Test by Generating TLS/mTLS Certificates via MSBuild
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/.gitignore
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/Dockerfile
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/create-cert.sh
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/docker-compose.yml
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/otel-collector-config.yaml
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/run-test.sh
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests.csproj
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/gen_test_cert.ps1
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/gen_test_cert.sh
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5910 [otlp] OTLP Exporter Custom serializer Part 1 - WritingPrimitives
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufWireType.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OpenTelemetry.Exporter.OpenTelemetryProtocol.csproj
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/Serializer/ProtobufSerializerTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5908 [sdk-metrics] Fix a race condition when a metric is deactivated and re-activated in the same collection cycle
  src/OpenTelemetry/Metrics/Reader/MetricReaderExt.cs
Labels: pkg:OpenTelemetry

#5916 [otlp] OTLP Exporter Custom serializer Part 2 - Resources
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpResourceSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTagWriter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/Serializer/ResourceProtoSerializerTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpResourceTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5909 [sdk-metrics] Promote overflow attribute from experimental to stable
  docs/metrics/README.md
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Metrics/Metric.cs
  src/OpenTelemetry/Metrics/Reader/MetricReaderExt.cs
  test/OpenTelemetry.Tests/Metrics/AggregatorTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricOverflowAttributeTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricPointReclaimTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricSnapshotTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
Labels: pkg:OpenTelemetry, documentation

#5926 [sdk-metrics] Promote cardinality limit view API from experimental to stable
  OpenTelemetry.sln
  build/Common.props
  docs/diagnostics/experimental-apis/OTEL1003.md
  docs/diagnostics/experimental-apis/README.md
  docs/metrics/customizing-the-sdk/README.md
  src/OpenTelemetry/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/View/MetricStreamConfiguration.cs
  src/Shared/DiagnosticDefinitions.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
Labels: pkg:OpenTelemetry, documentation, infra, metrics

#5928 [otlp] OTLP Exporter Custom serializer - Spans
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTagWriter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5880 [BUILD] Signing OpenTelemetry .NET DLLs Using Sigstore certificate
  .github/workflows/publish-packages-1.0.yml
  build/Common.prod.props
Labels: infra, Stale

#5933 [docs] Fix sample code in README
  docs/README.md
Labels: documentation

#5935 [console] Support ActivitySource.Tags
  src/OpenTelemetry.Exporter.Console/CHANGELOG.md
  src/OpenTelemetry.Exporter.Console/ConsoleActivityExporter.cs
  src/OpenTelemetry.Exporter.Console/ConsoleMetricExporter.cs
Labels: metrics, traces, pkg:OpenTelemetry.Exporter.Console

#5930 [otlp] OTLP Exporter Custom serializer - Complete Traces
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpResourceSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTagWriter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5940 [docs] Update verb tense grammar for CHANGELOGs
  src/OpenTelemetry.Api.ProviderBuilderExtensions/CHANGELOG.md
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Exporter.Console/CHANGELOG.md
  src/OpenTelemetry.Exporter.InMemory/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Extensions.Hosting/CHANGELOG.md
  src/OpenTelemetry/CHANGELOG.md
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, documentation, pkg:OpenTelemetry.Extensions.Hosting, pkg:OpenTelemetry.Api.ProviderBuilderExtensions, pkg:OpenTelemetry.Exporter.Console, pkg:OpenTelemetry.Exporter.InMemory

#5941 [otlp] OTLP Exporter Custom serializer - Logs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogSerializer.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTagWriter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#5945 [otlp] OTLP Exporter Custom serializer - Log Scopes
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol
