Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2024-09, with the labels that each got.

#5810 [sdk] Improve readability of TracerProviderSdk initialization code
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
Labels: pkg:OpenTelemetry

#5800 [repo] Add .NET 8 target for W3C Trace Context Integration Test in CI
  .github/workflows/ci.yml
  test/OpenTelemetry.Instrumentation.W3cTraceContext.Tests/Dockerfile
  test/OpenTelemetry.Instrumentation.W3cTraceContext.Tests/W3CTraceContextTests.cs
Labels: infra

#5817 [repo] Move Vishwesh to Emeritus approver
  README.md
Labels: documentation

#5822 [repo] Update stale.yml - reduce days before stale to 900
  .github/workflows/stale.yml
Labels: infra

#5792 [Exporter.Zipkin] Nullable
  src/OpenTelemetry.Exporter.Zipkin/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinActivityConversionExtensions.cs
  src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinEndpoint.cs
  src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinSpan.cs
  src/OpenTelemetry.Exporter.Zipkin/OpenTelemetry.Exporter.Zipkin.csproj
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporter.cs
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporterOptions.cs
  src/Shared/PooledList.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/ZipkinActivityConversionExtensionsTest.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/ZipkinActivityConversionTest.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/ZipkinActivityExporterRemoteEndpointTests.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/OpenTelemetry.Exporter.Zipkin.Tests.csproj
  test/OpenTelemetry.Exporter.Zipkin.Tests/ZipkinExporterTests.cs
  test/OpenTelemetry.Tests/Shared/TestHttpServer.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.Zipkin

#5827 [repo] remove questions template and redirect to discussions
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.yml
  OpenTelemetry.sln
Labels: infra

#5824 [repo] Add Linux ARM64 to actions CI
  .github/workflows/Component.BuildTest.yml
Labels: infra

#5821 [zipkin\otlp] Call SendAsync on mobile
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/BaseOtlpHttpExportClient.cs
  src/OpenTelemetry.Exporter.Zipkin/CHANGELOG.md
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporter.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, pkg:OpenTelemetry.Exporter.Zipkin

#5823 [repo] How to maintain PublicApi files
  CONTRIBUTING.md
Labels: documentation

#5791 [Exporter.Prometheus] Nullable
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/OpenTelemetry.Exporter.Prometheus.AspNetCore.csproj
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/PrometheusAspNetCoreOptions.cs
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/PrometheusExporterApplicationBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/PrometheusExporterEndpointRouteBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/PrometheusExporterMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/PrometheusExporterMiddleware.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusCollectionManager.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusExporter.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusHeadersParser.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusMetric.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusSerializer.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/OpenTelemetry.Exporter.Prometheus.HttpListener.csproj
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/PrometheusHttpListener.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/PrometheusHttpListenerMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/PrometheusHttpListenerOptions.cs
  test/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests.csproj
  test/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests/PrometheusExporterMiddlewareTests.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests.csproj
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/PrometheusCollectionManagerTests.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/PrometheusHttpListenerTests.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/PrometheusSerializerTests.cs
Labels: pkg:OpenTelemetry.Exporter.Prometheus.AspNetCore, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener

#5797 [Shims, W3C.Tests] Nullable
  src/OpenTelemetry.Shims.OpenTracing/.publicApi/PublicAPI.Shipped.txt
  src/OpenTelemetry.Shims.OpenTracing/.publicApi/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Shims.OpenTracing/CHANGELOG.md
  src/OpenTelemetry.Shims.OpenTracing/OpenTelemetry.Shims.OpenTracing.csproj
  src/OpenTelemetry.Shims.OpenTracing/ScopeManagerShim.cs
  src/OpenTelemetry.Shims.OpenTracing/SpanBuilderShim.cs
  src/OpenTelemetry.Shims.OpenTracing/SpanShim.cs
  src/OpenTelemetry.Shims.OpenTracing/TracerShim.cs
  test/OpenTelemetry.Instrumentation.W3cTraceContext.Tests/OpenTelemetry.Instrumentation.W3cTraceContext.Tests.csproj
  test/OpenTelemetry.Instrumentation.W3cTraceContext.Tests/W3CTraceContextTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/IntegrationTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/OpenTelemetry.Shims.OpenTracing.Tests.csproj
  test/OpenTelemetry.Shims.OpenTracing.Tests/ScopeManagerShimTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/SpanBuilderShimTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/SpanShimTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/TracerShimTests.cs
Labels: pkg:OpenTelemetry.Shims.OpenTracing

#5840 [api] Baggage nullable annotations
  src/OpenTelemetry.Api/.publicApi/Stable/PublicAPI.Shipped.txt
  src/OpenTelemetry.Api/Baggage.cs
  src/OpenTelemetry.Api/Context/Propagation/BaggagePropagator.cs
  test/OpenTelemetry.Api.Tests/BaggageTests.cs
Labels: pkg:OpenTelemetry.Api

#5852 [docs] Typo fixes (double the)
  docs/metrics/customizing-the-sdk/README.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/IOtlpExporterOptions.cs
  src/OpenTelemetry.Exporter.Zipkin/README.md
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, documentation, pkg:OpenTelemetry.Exporter.Zipkin

#5853 [repo] Update the System.Diagnostics.DiagnosticSource and Microsoft.Extensions.* packages to .NET 9.0 RC.1
  Directory.Packages.props
  examples/Directory.Packages.props
  src/OpenTelemetry.Api.ProviderBuilderExtensions/CHANGELOG.md
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Extensions.Hosting/CHANGELOG.md
  src/OpenTelemetry/CHANGELOG.md
  test/Directory.Packages.props
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, documentation, infra, pkg:OpenTelemetry.Extensions.Hosting, dependencies, pkg:OpenTelemetry.Api.ProviderBuilderExtensions

#5837 [prometheus] Support meter-level tags
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/CHANGELOG.md
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusSerializer.cs
  test/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests/PrometheusExporterMiddlewareTests.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/PrometheusHttpListenerTests.cs
Labels: pkg:OpenTelemetry.Exporter.Prometheus.AspNetCore, metrics, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener

#5856 [docs] Contributing updates
  CONTRIBUTING.md
Labels: documentation

#5854 [sdk-metrics] Add support for .NET 9 Advice API
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/MetricStreamIdentity.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
Labels: pkg:OpenTelemetry, metrics

#5857 [repo] Update stale.yml - reduce days before stale to 600
  .github/workflows/stale.yml
Labels: infra

#5841 [api] Mark ActivityExtensions.RecordException obsolete
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Api/Trace/ActivityExtensions.cs
Labels: pkg:OpenTelemetry.Api

#5850 [api] Context nullable annotations
  src/OpenTelemetry.Api/.publicApi/Stable/PublicAPI.Shipped.txt
  src/OpenTelemetry.Api/.publicApi/Stable/net462/PublicAPI.Shipped.txt
  src/OpenTelemetry.Api/Context/AsyncLocalRuntimeContextSlot.cs
  src/OpenTelemetry.Api/Context/IRuntimeContextSlotValueAccessor.cs
  src/OpenTelemetry.Api/Context/RemotingRuntimeContextSlot.cs
  src/OpenTelemetry.Api/Context/RuntimeContext.cs
  src/OpenTelemetry.Api/Context/RuntimeContextSlot.cs
  src/OpenTelemetry.Api/Context/ThreadLocalRuntimeContextSlot.cs
  test/OpenTelemetry.Api.Tests/Context/RuntimeContextTest.cs
Labels: pkg:OpenTelemetry.Api

#5861 [repo] Take advantage of System.Threading.Lock when compiling against .NET9
  OpenTelemetry.sln
  src/OpenTelemetry.Api/OpenTelemetry.Api.csproj
  src/OpenTelemetry.Exporter.Console/ConsoleLogRecordExporter.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/OpenTelemetry.Exporter.Prometheus.HttpListener.csproj
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/PrometheusHttpListener.cs
  src/OpenTelemetry/Internal/SelfDiagnosticsEventListener.cs
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Metrics/Reader/MetricReader.cs
  src/OpenTelemetry/Metrics/Reader/MetricReaderExt.cs
  src/OpenTelemetry/SimpleExportProcessor.cs
  src/Shared/Shims/Lock.cs
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.Console, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener

#5864 [repo] Add Mothra as a triager
  README.md
Labels: documentation

#5865 [docs] README - Fix links to membership descriptions
  README.md
Labels: documentation

#5867 [sdk-metrics] Support .NET 9 Synchronous Gauge
  docs/metrics/README.md
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/Metric.cs
  src/OpenTelemetry/Metrics/Reader/MetricReader.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTestsBase.cs
Labels: pkg:OpenTelemetry, documentation

#5870 [docs] Fix RecordAndSample typo
  docs/trace/extending-the-sdk/README.md
Labels: documentation
