Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2025-05, with the labels that each got.

#6272 [infra] Add GitHub Actions test logger
  .github/workflows/Component.BuildTest.yml
  .gitignore
  Directory.Packages.props
  test/OpenTelemetry.Api.ProviderBuilderExtensions.Tests/OpenTelemetry.Api.ProviderBuilderExtensions.Tests.csproj
  test/OpenTelemetry.Api.Tests/OpenTelemetry.Api.Tests.csproj
  test/OpenTelemetry.Exporter.Console.Tests/OpenTelemetry.Exporter.Console.Tests.csproj
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests.csproj
  test/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests.csproj
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests.csproj
  test/OpenTelemetry.Exporter.Zipkin.Tests/OpenTelemetry.Exporter.Zipkin.Tests.csproj
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetry.Extensions.Hosting.Tests.csproj
  test/OpenTelemetry.Extensions.Propagators.Tests/OpenTelemetry.Extensions.Propagators.Tests.csproj
  test/OpenTelemetry.Instrumentation.W3cTraceContext.Tests/OpenTelemetry.Instrumentation.W3cTraceContext.Tests.csproj
  test/OpenTelemetry.Shims.OpenTracing.Tests/OpenTelemetry.Shims.OpenTracing.Tests.csproj
  test/OpenTelemetry.Tests/OpenTelemetry.Tests.csproj
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, pkg:OpenTelemetry.Exporter.Prometheus.AspNetCore, infra, pkg:OpenTelemetry.Extensions.Hosting, dependencies, pkg:OpenTelemetry.Api.ProviderBuilderExtensions, pkg:OpenTelemetry.Exporter.Console, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener, pkg:OpenTelemetry.Exporter.Zipkin, pkg:OpenTelemetry.Extensions.Propagators, pkg:OpenTelemetry.Shims.OpenTracing

#6263 [OpenTelemetry] enable analysis - part 1
  src/OpenTelemetry/BaseExportProcessor.cs
  src/OpenTelemetry/BaseProcessor.cs
  src/OpenTelemetry/CompositeProcessor.cs
  src/OpenTelemetry/Internal/SelfDiagnosticsConfigRefresher.cs
  src/OpenTelemetry/Internal/SelfDiagnosticsEventListener.cs
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggerProvider.cs
  src/OpenTelemetry/Logs/LoggerProviderSdk.cs
  src/OpenTelemetry/Metrics/AggregationTemporality.cs
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/CircularBufferBuckets.cs
  src/OpenTelemetry/Metrics/Exemplar/Exemplar.cs
  src/OpenTelemetry/Metrics/Exemplar/ReadOnlyExemplarCollection.cs
  src/OpenTelemetry/Metrics/ExportModes.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Metrics/MetricPoint/MetricPointOptionalComponents.cs
  src/OpenTelemetry/Metrics/MetricStreamIdentity.cs
  src/OpenTelemetry/Metrics/MetricType.cs
  src/OpenTelemetry/Metrics/Reader/BaseExportingMetricReader.cs
  src/OpenTelemetry/Metrics/Reader/CompositeMetricReader.cs
  src/OpenTelemetry/Metrics/Reader/MetricReaderTemporalityPreference.cs
  src/OpenTelemetry/Metrics/Tags.cs
  src/OpenTelemetry/Metrics/View/ExplicitBucketHistogramConfiguration.cs
  src/OpenTelemetry/Metrics/View/MetricStreamConfiguration.cs
  src/OpenTelemetry/OpenTelemetry.csproj
  src/OpenTelemetry/ReadOnlyFilteredTagCollection.cs
  src/OpenTelemetry/ReadOnlyTagCollection.cs
  src/OpenTelemetry/Resources/OtelEnvResourceDetector.cs
  src/OpenTelemetry/Resources/Resource.cs
  src/OpenTelemetry/Resources/ResourceBuilder.cs
  test/OpenTelemetry.Tests/Internal/SelfDiagnosticsEventListenerTests.cs
Labels: pkg:OpenTelemetry

#6280 [otlp] Correct initial write position for gRPC in .NET Framework OTLP exporters
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporter.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6290 Clean up infinite explicit bucket bounds to prevent duplicate histogram bucket output
  src/OpenTelemetry/Metrics/MetricPoint/HistogramBuckets.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetry.Extensions.Hosting.Tests.csproj
  test/OpenTelemetry.Tests/Metrics/AggregatorTests.cs
  test/OpenTelemetry.Tests/Metrics/HistogramBoundaryTestCase.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Extensions.Hosting

#6191 [Exporter.Zipkin] Update remote endpoint and remove the peer.service attribute
  OpenTelemetry.sln
  src/OpenTelemetry.Exporter.Zipkin/CHANGELOG.md
  src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinActivityConversionExtensions.cs
  src/OpenTelemetry.Exporter.Zipkin/OpenTelemetry.Exporter.Zipkin.csproj
  src/Shared/PeerServiceResolver.cs
  src/Shared/SemanticConventions.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/RemoteEndpointPriorityTestCase.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/ZipkinActivityConversionExtensionsTests.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/ZipkinActivityConversionTests.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/ZipkinActivityExporterRemoteEndpointTests.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/ZipkinExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.Zipkin

#6259 Add ConnectionRefused as transient network error so gRPC retry works when collector is down
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcExportClient.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6279 [OpenTelemetry] enable analysis - part 2 - final
  src/OpenTelemetry/BaseExportProcessor.cs
  src/OpenTelemetry/BaseProcessor.cs
  src/OpenTelemetry/Batch.cs
  src/OpenTelemetry/BatchExportProcessor.cs
  src/OpenTelemetry/CompositeProcessor.cs
  src/OpenTelemetry/Internal/SelfDiagnosticsConfigRefresher.cs
  src/OpenTelemetry/Internal/SelfDiagnosticsEventListener.cs
  src/OpenTelemetry/Internal/WildcardHelper.cs
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggerProvider.cs
  src/OpenTelemetry/Logs/ILogger/OpenTelemetryLoggingExtensions.cs
  src/OpenTelemetry/Logs/LogRecord.cs
  src/OpenTelemetry/Logs/LoggerProviderExtensions.cs
  src/OpenTelemetry/Logs/Processor/LogRecordExportProcessorOptions.cs
  src/OpenTelemetry/Metrics/AggregatorStore.cs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderBase.cs
  src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/Exemplar/ReadOnlyExemplarCollection.cs
  src/OpenTelemetry/Metrics/MetricPoint/ExponentialHistogramBuckets.cs
  src/OpenTelemetry/Metrics/MetricPoint/HistogramBuckets.cs
  src/OpenTelemetry/Metrics/MetricPoint/MetricPointsAccessor.cs
  src/OpenTelemetry/Metrics/MetricStreamIdentity.cs
  src/OpenTelemetry/Metrics/Reader/BaseExportingMetricReader.cs
  src/OpenTelemetry/Metrics/Reader/MetricReaderOptions.cs
  src/OpenTelemetry/Metrics/Reader/PeriodicExportingMetricReader.cs
  src/OpenTelemetry/Metrics/StringArrayEqualityComparer.cs
  src/OpenTelemetry/Metrics/Tags.cs
  src/OpenTelemetry/OpenTelemetry.csproj
  src/OpenTelemetry/OpenTelemetryBuilderSdkExtensions.cs
  src/OpenTelemetry/OpenTelemetrySdkExtensions.cs
  src/OpenTelemetry/ReadOnlyFilteredTagCollection.cs
  src/OpenTelemetry/ReadOnlyTagCollection.cs
  src/OpenTelemetry/Resources/ResourceBuilder.cs
  src/OpenTelemetry/Resources/ResourceBuilderExtensions.cs
  src/OpenTelemetry/SuppressInstrumentationScope.cs
  src/OpenTelemetry/Trace/Builder/TracerProviderBuilderBase.cs
  src/OpenTelemetry/Trace/Processor/ActivityExportProcessorOptions.cs
  src/OpenTelemetry/Trace/Processor/BatchActivityExportProcessor.cs
  src/OpenTelemetry/Trace/Processor/SimpleActivityExportProcessor.cs
  src/OpenTelemetry/Trace/Sampler/ParentBasedSampler.cs
  src/OpenTelemetry/Trace/Sampler/SamplingResult.cs
  src/OpenTelemetry/Trace/TracerProviderExtensions.cs
  src/Shared/AssemblyVersionExtensions.cs
  src/Shared/ThreadSafeRandom.cs
Labels: pkg:OpenTelemetry
