Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2025-01, with the labels that each got.

#6050 [repo] Trigger builds when SDK is changed
  .github/workflows/ci.yml
Labels: infra

#6062 [docs-metrics] Link to advice guide in docs
  docs/metrics/customizing-the-sdk/README.md
Labels: documentation

#6037 [docs] Add exception logging best practices
  docs/logs/README.md
Labels: documentation, Stale

#6070 [repo] Release notes automation
  .github/workflows/prepare-release.yml
  build/scripts/prepare-release.psm1
Labels: infra

#6076 [api-logs] Remove unneeded if check in LogRecordAttributeList
  src/OpenTelemetry.Api/Logs/LogRecordAttributeList.cs
Labels: pkg:OpenTelemetry.Api

#6072 [sdk] Simplify dispose code in SelfDiagnostics
  src/OpenTelemetry/Internal/SelfDiagnostics.cs
Labels: pkg:OpenTelemetry

#6073 [sdk] Remove redundant NotNullWhen in SelfDiagnosticsConfigParser.TryParseLogDirectory
  src/OpenTelemetry/Internal/SelfDiagnosticsConfigParser.cs
Labels: pkg:OpenTelemetry

#6083 [otlp] Fix issues with exporting using gRPC in .NET Framework apps
  Directory.Packages.props
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/GrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OpenTelemetry.Exporter.OpenTelemetryProtocol.csproj
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptionsExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporter.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsExtensionsTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, infra, dependencies

#6087 [repo] Release notes automation tweak
  build/scripts/prepare-release.psm1
Labels: infra

#6089 [docs] Tweak releasing guide for new automation around release notes
  build/RELEASING.md
Labels: documentation, infra

#6096 [repo] Add "release details" links in release notes
  RELEASENOTES.md
Labels: documentation

#6099 [otlp] Fix .NET Framework gRPC Export Client Default Success Response Status
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/GrpcExportClient.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6092 [repo] move PooledList to Zipkin
  src/OpenTelemetry.Exporter.Zipkin/Implementation/PooledList.cs
  src/OpenTelemetry.Exporter.Zipkin/OpenTelemetry.Exporter.Zipkin.csproj
  test/OpenTelemetry.Exporter.Zipkin.Tests/PooledListTest.cs
  test/OpenTelemetry.Tests/OpenTelemetry.Tests.csproj
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.Zipkin

#6098 [repo] remove redundant interpolation
  docs/metrics/extending-the-sdk/MyExporter.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, documentation

#6077 [Exporter.Prometheus] remove redundant if in WriteUnicodeNoEscape
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusSerializer.cs
Labels: pkg:OpenTelemetry.Exporter.Prometheus.HttpListener

#6107 [repo/tests] use some utf8 string literals
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/Serializer/ProtobufSerializerTests.cs
  test/OpenTelemetry.Tests/Internal/SelfDiagnosticsEventListenerTest.cs
  test/OpenTelemetry.Tests/Trace/SpanContextTest.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6097 [repo] Fix tests reliant on bugged sampling behavior
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/ExportClient/OtlpHttpTraceExportClientTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/Serializer/OtlpArrayTagWriterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/ZipkinExporterTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/ListenAndSampleAllActivitySources.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, pkg:OpenTelemetry.Exporter.Zipkin, pkg:OpenTelemetry.Shims.OpenTracing

#6100 [repo] Clean up unused variables
  examples/GrpcService/Services/GreeterService.cs
  examples/MicroserviceExample/WebApi/Controllers/SendMessageController.cs
  src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinActivityConversionExtensions.cs
  test/OpenTelemetry.Tests/Trace/SamplersTest.cs
Labels: pkg:OpenTelemetry, documentation, pkg:OpenTelemetry.Exporter.Zipkin

#6104 [repo] Replace some fields with auto properties
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusExporter.cs
  src/OpenTelemetry/Metrics/ExportModesAttribute.cs
  src/OpenTelemetry/ReadOnlyFilteredTagCollection.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener

#6114 [repo] Add Rajkumar Rangaraj as maintainer
  README.md
Labels: documentation

#6105 fix incorrect as usage in MessageReceiver
  examples/MicroserviceExample/Utils/Messaging/MessageReceiver.cs
Labels: documentation, ready to merge
