Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2025-02, with the labels that each got.

#6119 [otlp] Fix incorrect length handling of Status.Description exceeding 127 bytes
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTraceSerializer.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6091 remove redundant instrumentations != null checks
  src/OpenTelemetry/Logs/LoggerProviderSdk.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
Labels: pkg:OpenTelemetry, ready to merge

#6082 remove redundant isDisposing pattern in StressTest
  test/OpenTelemetry.Tests.Stress.Logs/Program.cs
  test/OpenTelemetry.Tests.Stress.Metrics/Program.cs
  test/OpenTelemetry.Tests.Stress.Traces/Program.cs
  test/OpenTelemetry.Tests.Stress/StressTest.cs
Labels: pkg:OpenTelemetry, perf, ready to merge

#6048 [repo] Small cleanup/simplification
  src/OpenTelemetry.Api.ProviderBuilderExtensions/Logs/OpenTelemetryDependencyInjectionLoggerProviderBuilderExtensions.cs
  src/OpenTelemetry.Api.ProviderBuilderExtensions/Metrics/OpenTelemetryDependencyInjectionMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Api.ProviderBuilderExtensions/Trace/OpenTelemetryDependencyInjectionTracerProviderBuilderExtensions.cs
  src/OpenTelemetry.Api/Internal/OpenTelemetryApiEventSource.cs
  src/OpenTelemetry.Api/Trace/TracerProvider.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/PersistentStorageAbstractionsEventSource.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/PersistentStorageEventSource.cs
  src/OpenTelemetry.Extensions.Hosting/Implementation/HostingExtensionsEventSource.cs
  src/OpenTelemetry/Internal/OpenTelemetrySdkEventSource.cs
  src/OpenTelemetry/Logs/LogRecord.cs
  src/OpenTelemetry/Metrics/CircularBufferBuckets.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Metrics/MetricPoint/MetricPointsAccessor.cs
  src/OpenTelemetry/Metrics/Reader/MetricReader.cs
  src/OpenTelemetry/Metrics/View/ExplicitBucketHistogramConfiguration.cs
  src/OpenTelemetry/Metrics/View/MetricStreamConfiguration.cs
  src/OpenTelemetry/OpenTelemetrySdkExtensions.cs
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, pkg:OpenTelemetry.Extensions.Hosting, pkg:OpenTelemetry.Api.ProviderBuilderExtensions, ready to merge

#6130 [docs] prometheus example - update feature flag to support OTLP receiver
  docs/metrics/exemplars/README.md
  docs/metrics/getting-started-prometheus-grafana/README.md
Labels: documentation

#6128 [repo] Use public ARM64 runners
  .github/workflows/Component.BuildTest.yml
Labels: infra

#6090 Increase use of NotNullWhen polyfill
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExperimentalOptions.cs
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporterOptions.cs
  src/OpenTelemetry/Logs/LoggerProviderSdk.cs
  src/OpenTelemetry/Resources/OtelEnvResourceDetector.cs
  src/OpenTelemetry/Resources/OtelServiceNameEnvVarDetector.cs
  src/Shared/Configuration/OpenTelemetryConfigurationExtensions.cs
  test/OpenTelemetry.Api.Tests/Logs/LoggerProviderTests.cs
  test/OpenTelemetry.Api.Tests/OpenTelemetry.Api.Tests.csproj
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, pkg:OpenTelemetry.Exporter.Zipkin, ready to merge

#6078 remove redundant ?? string.Empty in GetSampler
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
Labels: pkg:OpenTelemetry

#6133 remove some array and list allocations
  src/OpenTelemetry/Metrics/View/ExplicitBucketHistogramConfiguration.cs
  src/OpenTelemetry/Metrics/View/MetricStreamConfiguration.cs
  src/Shared/Options/DelegatingOptionsFactory.cs
Labels: pkg:OpenTelemetry

#6075 [repo] remove incorrect null suppressions
  examples/AspNetCore/Program.cs
  examples/GrpcService/Startup.cs
  src/OpenTelemetry.Extensions.Propagators/B3Propagator.cs
  src/OpenTelemetry.Extensions.Propagators/JaegerPropagator.cs
  src/Shared/TagWriter/TagWriter.cs
  test/Benchmarks/Context/Propagation/TraceContextPropagatorBenchmarks.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/MockCollectorIntegrationTests.cs
  test/OpenTelemetry.Tests/Shared/EventSourceTestHelper.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, documentation, perf, pkg:OpenTelemetry.Extensions.Propagators

#6145 [repo] Move Blanch to approver
  README.md
Labels: documentation

#6149 [otlp] Change serialization of null protobuf values
  src/OpenTelemetry.Exporter.Console/Implementation/ConsoleTagWriter.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpTagWriter.cs
  src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinTagWriter.cs
  src/Shared/TagWriter/TagWriter.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpAttributeTests.cs
  test/OpenTelemetry.Tests/Internal/JsonStringArrayTagWriterTests.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, pkg:OpenTelemetry.Exporter.Console, pkg:OpenTelemetry.Exporter.Zipkin

#6153 [otlp] changelog cleanup
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6106 use some collection expressions
  docs/metrics/customizing-the-sdk/Program.cs
  examples/AspNetCore/Controllers/WeatherForecastController.cs
  examples/Console/TestPrometheusExporter.cs
  src/OpenTelemetry.Api/Context/Propagation/B3Propagator.cs
  src/OpenTelemetry.Api/Context/Propagation/BaggagePropagator.cs
  src/OpenTelemetry.Api/Logs/LogRecordSeverityExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptionsExtensions.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/PrometheusHttpListenerOptions.cs
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporterHelperExtensions.cs
  src/OpenTelemetry.Extensions.Propagators/B3Propagator.cs
  src/OpenTelemetry.Extensions.Propagators/JaegerPropagator.cs
  src/OpenTelemetry.Shims.OpenTracing/TracerShim.cs
  src/Shared/MathHelper.cs
  src/Shared/Shims/NullableAttributes.cs
  test/Benchmarks/Metrics/ExemplarBenchmarks.cs
  test/Benchmarks/Metrics/HistogramBenchmarks.cs
  test/Benchmarks/Metrics/MetricCollectBenchmarks.cs
  test/Benchmarks/Metrics/MetricsBenchmarks.cs
  test/Benchmarks/Metrics/MetricsViewBenchmarks.cs
  test/OpenTelemetry.Api.Tests/Context/Propagation/CompositePropagatorTest.cs
  test/OpenTelemetry.Api.Tests/Trace/SpanAttributesTest.cs
  test/OpenTelemetry.Exporter.Console.Tests/ConsoleActivityExporterTest.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/PrometheusHttpListenerTests.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetryMetricsBuilderExtensionsTests.cs
  test/OpenTelemetry.Extensions.Propagators.Tests/JaegerPropagatorTest.cs
  test/OpenTelemetry.Tests.Stress.Metrics/Program.cs
  test/OpenTelemetry.Tests.Stress/StressTest.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestData.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
  test/OpenTelemetry.Tests/Trace/CompositeActivityProcessorTests.cs
  test/OpenTelemetry.Tests/Trace/LinkTest.cs
  test/OpenTelemetry.Tests/Trace/Propagation/TraceContextPropagatorTest.cs
  test/OpenTelemetry.Tests/Trace/TraceIdRatioBasedSamplerTest.cs
  test/TestApp.AspNetCore/Controllers/ValuesController.cs
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, documentation, perf, pkg:OpenTelemetry.Extensions.Hosting, pkg:OpenTelemetry.Exporter.Console, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener, pkg:OpenTelemetry.Exporter.Zipkin, pkg:OpenTelemetry.Extensions.Propagators, pkg:OpenTelemetry.Shims.OpenTracing

#6157 [repo] Bump test packages
  Directory.Packages.props
  test/OpenTelemetry.Tests/Metrics/MetricApiTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestData.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
  test/OpenTelemetry.Tests/Resources/ResourceBuilderTests.cs
Labels: pkg:OpenTelemetry, infra, dependencies

#6154 [OTLP] include status code in failure log
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OpenTelemetryProtocolExporterEventSource.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol
