Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2025-06, with the labels that each got.

#6302 [infra] Ensure test-threadSafety.ps1 fails
  build/scripts/test-threadSafety.ps1
Labels: infra

#6299 [OpenTelemetry] Fix CA1305 warning
  src/OpenTelemetry/Internal/OpenTelemetrySdkEventSource.cs
Labels: pkg:OpenTelemetry

#6308 [infra] Avoid port conflicts in tests
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests.csproj
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests.csproj
  test/OpenTelemetry.Exporter.Zipkin.Tests/OpenTelemetry.Exporter.Zipkin.Tests.csproj
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener, pkg:OpenTelemetry.Exporter.Zipkin

#6305 Introducing AddLink method in TelemetrySpan
  src/OpenTelemetry.Api/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Api/Trace/TelemetrySpan.cs
  test/OpenTelemetry.Api.Tests/Trace/TelemetrySpanTests.cs
Labels: pkg:OpenTelemetry.Api

#6313 [Infra] Ensure .NET 8 is installed
  .github/workflows/Component.BuildTest.yml
Labels: infra

#6345 Add the default ports for Tempo in the example.
  examples/AspNetCore/tempo.yaml
Labels: documentation

#6349 [docs] Best practices badges
  README.md
Labels: documentation

#6306 Adding EventName to LogRecord
  src/OpenTelemetry.Api/.publicApi/Experimental/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Api/Logs/LogRecordData.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExperimentalOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogFieldNumberConstants.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/Serializer/ProtobufOtlpLogSerializer.cs
  src/OpenTelemetry/Logs/LoggerSdk.cs
  src/Shared/Proto/opentelemetry/proto/logs/v1/logs.proto
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
Labels: pkg:OpenTelemetry.Api, pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol
