Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2025-04, with the labels that each got.

#6223 [Exporter.Console] Update otel-collector version to be compatible with debug exporter
  examples/Console/TestLogs.cs
  examples/Console/TestMetrics.cs
  examples/Console/TestOtlpExporter.cs
Labels: documentation

#6212 [OpenTelemetry] Improve memory efficiency in Dispose
  src/OpenTelemetry/Internal/SelfDiagnosticsConfigRefresher.cs
  src/OpenTelemetry/Logs/LoggerProviderSdk.cs
  src/OpenTelemetry/Metrics/MeterProviderSdk.cs
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
Labels: pkg:OpenTelemetry

#6232 Remove unused import
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/MockCollectorIntegrationTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6230 [repo] OpenSSF Scorecard - pin docker images to exact digest
  examples/MicroserviceExample/WebApi/Dockerfile
  examples/MicroserviceExample/WorkerService/Dockerfile
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/Dockerfile
  test/OpenTelemetry.Instrumentation.W3cTraceContext.Tests/Dockerfile
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, infra, ready to merge

#6225 [Examples.GrpcService] migrate to Minimal Hosting Model
  examples/GrpcService/Program.cs
  examples/GrpcService/Startup.cs
Labels: documentation, ready to merge

#6229 [otlp] Remove Grpc.Core support for .NET Framework and .NET Standard 2.0 in OTLP exporter
  Directory.Packages.props
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/GrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OpenTelemetry.Exporter.OpenTelemetryProtocol.csproj
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExportProtocol.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExportProtocolParser.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptionsExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpLogExporterHelperExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpMetricExporterExtensions.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpTraceExporterHelperExtensions.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/IntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExportProtocolParserTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterHelperExtensionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsExtensionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/UseOtlpExporterExtensionTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, infra, dependencies

#6220 [Example/WorkerService] enable analysis
  examples/MicroserviceExample/Utils/Messaging/MessageReceiver.cs
  examples/MicroserviceExample/Utils/Messaging/RabbitMqHelper.cs
  examples/MicroserviceExample/Utils/Utils.csproj
  examples/MicroserviceExample/WebApi/Dockerfile
  examples/MicroserviceExample/WebApi/WebApi.csproj
  examples/MicroserviceExample/WorkerService/Dockerfile
  examples/MicroserviceExample/WorkerService/Program.cs
  examples/MicroserviceExample/WorkerService/Worker.cs
  examples/MicroserviceExample/WorkerService/WorkerService.csproj
Labels: documentation

#6206 [OpenTelemetry.Api] enable analysis
  src/OpenTelemetry.Api/Baggage.cs
  src/OpenTelemetry.Api/Context/Propagation/B3Propagator.cs
  src/OpenTelemetry.Api/Context/Propagation/BaggagePropagator.cs
  src/OpenTelemetry.Api/Context/Propagation/CompositeTextMapPropagator.cs
  src/OpenTelemetry.Api/Context/Propagation/NoopTextMapPropagator.cs
  src/OpenTelemetry.Api/Context/Propagation/TraceContextPropagator.cs
  src/OpenTelemetry.Api/Context/Propagation/TraceStateUtils.cs
  src/OpenTelemetry.Api/Context/RuntimeContextSlot.cs
  src/OpenTelemetry.Api/Logs/LogRecordAttributeList.cs
  src/OpenTelemetry.Api/Logs/LogRecordData.cs
  src/OpenTelemetry.Api/OpenTelemetry.Api.csproj
  src/OpenTelemetry.Api/Trace/SpanContext.cs
  src/OpenTelemetry.Api/Trace/SpanKind.cs
  src/OpenTelemetry.Api/Trace/Status.cs
  src/OpenTelemetry.Api/Trace/TracerProvider.cs
  test/OpenTelemetry.Api.Tests/Context/Propagation/TracestateUtilsTests.cs
  test/OpenTelemetry.Api.Tests/Logs/LogRecordAttributeListTests.cs
Labels: pkg:OpenTelemetry.Api, ready to merge

#6240 [TestApp.AspNetCore] enable analysis
  test/TestApp.AspNetCore/ActivityMiddleware.cs
  test/TestApp.AspNetCore/ActivityMiddlewareCore.cs
  test/TestApp.AspNetCore/CallbackMiddleware.cs
  test/TestApp.AspNetCore/CallbackMiddlewareCore.cs
  test/TestApp.AspNetCore/Controllers/ChildActivityController.cs
  test/TestApp.AspNetCore/Controllers/ErrorController.cs
  test/TestApp.AspNetCore/Program.cs
  test/TestApp.AspNetCore/TestApp.AspNetCore.csproj
  test/TestApp.AspNetCore/TestMiddleware.cs
Labels: ready to merge

#6247 [Examples.Microservice] migrate to Minimal Hosting Model
  examples/MicroserviceExample/WebApi/Program.cs
  examples/MicroserviceExample/WebApi/Startup.cs
  examples/MicroserviceExample/WorkerService/Program.cs
Labels: documentation

#6249 [Exporter.OpenTelemetry.Protocol] update PersistentStorage
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/DirectorySizeTracker.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/FileBlob.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/FileBlobProvider.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/PersistentBlobProvider.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/PersistentStorageAbstractionsEventSource.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/PersistentStorageEventSource.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/PersistentStorageHelper.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/PersistentStorage/README.md
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6255 Publish NuGet packages as GitHub Artifacts
  .github/workflows/package-validation.yml
Labels: infra

#6254 [Benchmarks] enable analysis
  src/OpenTelemetry.Exporter.InMemory/InMemoryExporterLoggingExtensions.cs
  test/Benchmarks/Benchmarks.csproj
  test/Benchmarks/Context/Propagation/TraceContextPropagatorBenchmarks.cs
  test/Benchmarks/EventSourceBenchmarks.cs
  test/Benchmarks/Exporter/OtlpGrpcExporterBenchmarks.cs
  test/Benchmarks/Exporter/OtlpHttpExporterBenchmarks.cs
  test/Benchmarks/Exporter/OtlpLogExporterBenchmarks.cs
  test/Benchmarks/Exporter/OtlpTraceExporterBenchmarks.cs
  test/Benchmarks/Exporter/PrometheusSerializerBenchmarks.cs
  test/Benchmarks/Helper/LogRecordHelper.cs
  test/Benchmarks/Helper/TestExporter.cs
  test/Benchmarks/Logs/LogBenchmarks.cs
  test/Benchmarks/Logs/LogScopeBenchmarks.cs
  test/Benchmarks/Logs/LoggerExtensions.cs
  test/Benchmarks/Metrics/Base2ExponentialHistogramBenchmarks.cs
  test/Benchmarks/Metrics/Base2ExponentialHistogramMapToIndexBenchmarks.cs
  test/Benchmarks/Metrics/Base2ExponentialHistogramScaleBenchmarks.cs
  test/Benchmarks/Metrics/ExemplarBenchmarks.cs
  test/Benchmarks/Metrics/HistogramBenchmarks.cs
  test/Benchmarks/Metrics/MetricCollectBenchmarks.cs
  test/Benchmarks/Metrics/MetricsBenchmarks.cs
  test/Benchmarks/Metrics/MetricsViewBenchmarks.cs
  test/Benchmarks/SuppressInstrumentationScopeBenchmarks.cs
  test/Benchmarks/Trace/ActivityCreationBenchmarks.cs
  test/Benchmarks/Trace/SamplerBenchmarks.cs
  test/Benchmarks/Trace/TraceBenchmarks.cs
  test/Benchmarks/Trace/TraceShimBenchmarks.cs
Labels: perf, pkg:OpenTelemetry.Exporter.InMemory

#6253 [Tests.Stress*] enable analysis
  test/OpenTelemetry.Tests.Stress.Logs/DummyProcessor.cs
  test/OpenTelemetry.Tests.Stress.Logs/OpenTelemetry.Tests.Stress.Logs.csproj
  test/OpenTelemetry.Tests.Stress.Logs/Payload.cs
  test/OpenTelemetry.Tests.Stress.Logs/Program.cs
  test/OpenTelemetry.Tests.Stress.Metrics/OpenTelemetry.Tests.Stress.Metrics.csproj
  test/OpenTelemetry.Tests.Stress.Metrics/Program.cs
  test/OpenTelemetry.Tests.Stress.Traces/OpenTelemetry.Tests.Stress.Traces.csproj
  test/OpenTelemetry.Tests.Stress.Traces/Program.cs
  test/OpenTelemetry.Tests.Stress/OpenTelemetry.Tests.Stress.csproj
  test/OpenTelemetry.Tests.Stress/Program.cs
  test/OpenTelemetry.Tests.Stress/StressTestFactory.cs
  test/OpenTelemetry.Tests.Stress/StressTestNativeMethods.cs
  test/OpenTelemetry.Tests.Stress/StressTestOptions.cs
  test/OpenTelemetry.Tests.Stress/StressTests.cs
Labels: pkg:OpenTelemetry, perf, ready to merge

#6264 [Exporter.OpenTelemetry.Protocol.Tests] enable analysis
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/GrpcRetryTestCase.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/HttpRetryTestCase.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/ExportClient/OtlpHttpTraceExportClientTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/Serializer/OtlpArrayTagWriterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/Implementation/Serializer/ProtobufSerializerTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/IntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/LoggerExtensions.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/MockCollectorIntegrationTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests.csproj
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpAttributeTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsExtensionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpHttpExportClientTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpLogExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpMetricsExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpRetryTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpSpecConfigDefinitionTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpTraceExporterTests.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/TestExportClient.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/TestHttpMessageHandler.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/UseOtlpExporterExtensionTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6265 [OpenTelemetry.Tests] enable analysis
  src/OpenTelemetry/Logs/LoggerProviderSdk.cs
  test/OpenTelemetry.Tests/BaseExporterTests.cs
  test/OpenTelemetry.Tests/BaseProcessorTests.cs
  test/OpenTelemetry.Tests/Concurrency/MetricsConcurrencyTests.cs
  test/OpenTelemetry.Tests/Internal/AssemblyVersionExtensionsTests.cs
  test/OpenTelemetry.Tests/Internal/PeriodicExportingMetricReaderHelperTests.cs
  test/OpenTelemetry.Tests/Internal/SelfDiagnosticsConfigRefresherTests.cs
  test/OpenTelemetry.Tests/Internal/SelfDiagnosticsEventListenerTests.cs
  test/OpenTelemetry.Tests/LoggerExtensions.cs
  test/OpenTelemetry.Tests/Logs/BatchLogRecordExportProcessorTests.cs
  test/OpenTelemetry.Tests/Logs/LogRecordSharedPoolTests.cs
  test/OpenTelemetry.Tests/Logs/LogRecordStateProcessorTests.cs
  test/OpenTelemetry.Tests/Logs/LogRecordTests.cs
  test/OpenTelemetry.Tests/Logs/LoggerFactoryAndResourceBuilderTests.cs
  test/OpenTelemetry.Tests/Logs/LoggerProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Tests/Logs/LoggerProviderExtensionsTests.cs
  test/OpenTelemetry.Tests/Logs/LoggerProviderSdkTests.cs
  test/OpenTelemetry.Tests/Logs/OpenTelemetryLoggerProviderTests.cs
  test/OpenTelemetry.Tests/Logs/OpenTelemetryLoggingExtensionsTests.cs
  test/OpenTelemetry.Tests/Metrics/Base2ExponentialBucketHistogramHelperTests.cs
  test/OpenTelemetry.Tests/Metrics/MeterProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Tests/Metrics/MeterProviderTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricExporterTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricPointReclaimTests.cs
  test/OpenTelemetry.Tests/OpenTelemetry.Tests.csproj
  test/OpenTelemetry.Tests/Resources/OtelEnvResourceDetectorTests.cs
  test/OpenTelemetry.Tests/Resources/OtelServiceNameEnvVarDetectorTests.cs
  test/OpenTelemetry.Tests/Resources/ResourceTests.cs
  test/OpenTelemetry.Tests/Shared/DelegatingProcessor.cs
  test/OpenTelemetry.Tests/Shared/EnabledOnDockerPlatformTheoryAttribute.cs
  test/OpenTelemetry.Tests/Shared/IEEE754Double.cs
  test/OpenTelemetry.Tests/Shared/RecordOnlySampler.cs
  test/OpenTelemetry.Tests/Shared/TestActivityExportProcessor.cs
  test/OpenTelemetry.Tests/SimpleExportProcessorTests.cs
  test/OpenTelemetry.Tests/SuppressInstrumentationTests.cs
  test/OpenTelemetry.Tests/TestSelfDiagnosticsConfigRefresher.cs
  test/OpenTelemetry.Tests/Trace/BatchExportActivityProcessorOptionsTests.cs
  test/OpenTelemetry.Tests/Trace/BatchExportActivityProcessorTests.cs
  test/OpenTelemetry.Tests/Trace/CompositeActivityProcessorTests.cs
  test/OpenTelemetry.Tests/Trace/CurrentSpanTests.cs
  test/OpenTelemetry.Tests/Trace/ExceptionProcessorTests.cs
  test/OpenTelemetry.Tests/Trace/ExportProcessorTests.cs
  test/OpenTelemetry.Tests/Trace/LinkTests.cs
  test/OpenTelemetry.Tests/Trace/SamplersTests.cs
  test/OpenTelemetry.Tests/Trace/TraceIdRatioBasedSamplerTests.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderBuilderExtensionsTests.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderExtensionsTests.cs
  test/OpenTelemetry.Tests/Trace/TracerProviderSdkTests.cs
Labels: pkg:OpenTelemetry, ready to merge
