Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2025-10, with the labels that each got.

#6549 [infra] Fix post release steps related to artifacts output
  build/scripts/post-release.psm1
Labels: infra

#6552 [release] Core stable release 1.13.0 updates
  Directory.Packages.props
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/CHANGELOG.md
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/CHANGELOG.md
  src/OpenTelemetry.Shims.OpenTracing/CHANGELOG.md
Labels: pkg:OpenTelemetry.Exporter.Prometheus.AspNetCore, infra, dependencies, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener, pkg:OpenTelemetry.Shims.OpenTracing

#6555 [infra] Fix role check during release process part2
  build/scripts/post-release.psm1
Labels: infra

#6562 [OTLP] Avoid redundant allocations and log HTTP export success
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpHttpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OpenTelemetryProtocolExporterEventSource.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6571 [Benchmarks] Reduce total runtime
  test/Benchmarks/Exporter/OtlpGrpcExporterBenchmarks.cs
  test/Benchmarks/Exporter/OtlpHttpExporterBenchmarks.cs
  test/Benchmarks/Exporter/ZipkinExporterBenchmarks.cs
Labels: perf

#6569 [docs-metrics] Update docs to add warning about AddView delegate API
  docs/metrics/customizing-the-sdk/README.md
Labels: documentation

#6564 [OTLP] Refactor OpenTelemetry Collector integration tests and log HTTP response when export fails
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpHttpExportClient.cs
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/OpenTelemetryProtocolExporterEventSource.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/IntegrationTest/IntegrationTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6557 Reset scale of exponential histogram
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Metrics/MetricPoint/Base2ExponentialBucketHistogram.cs
  src/OpenTelemetry/Metrics/MetricPoint/MetricPoint.cs
  test/OpenTelemetry.Tests/Metrics/AggregatorTests.cs
Labels: pkg:OpenTelemetry
