Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2025-08, with the labels that each got.

#6411 Self-diagnostics - support formatted message for better human readability
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Internal/SelfDiagnosticsConfigParser.cs
  src/OpenTelemetry/Internal/SelfDiagnosticsConfigRefresher.cs
  src/OpenTelemetry/Internal/SelfDiagnosticsEventListener.cs
  src/OpenTelemetry/README.md
  test/OpenTelemetry.Tests/Internal/SelfDiagnosticsConfigParserTests.cs
Labels: pkg:OpenTelemetry, ready to merge

#6449 [OTLP] Set TE header for gRPC calls
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/CHANGELOG.md
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/Implementation/ExportClient/OtlpGrpcExportClient.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol

#6301 [infra] Use Artifacts Output layout
  .github/workflows/package-validation.yml
  .github/workflows/publish-packages-1.0.yml
  .gitignore
  Directory.Build.props
  build/Common.prod.props
  build/scripts/test-aot-compatibility.ps1
  build/scripts/test-threadSafety.ps1
  docs/Directory.Build.props
  examples/Directory.Build.props
  src/Directory.Build.props
  test/Directory.Build.props
Labels: documentation, infra

#6304 [OpenTelemetry] Fix assertion failures in debug
  src/OpenTelemetry/Metrics/Reader/MetricReaderExt.cs
  src/OpenTelemetry/Metrics/Reader/PeriodicExportingMetricReader.cs
Labels: pkg:OpenTelemetry
