Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2025-09, with the labels that each got.

#6474 [repo] Add Windows 11 ARM64 to actions CI
  .github/workflows/Component.BuildTest.yml
Labels: infra

#6444 Fix parsing configuration for TraceIdRatioBasedSampler on non standard locales + fix localization related test
  src/OpenTelemetry/CHANGELOG.md
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
  test/OpenTelemetry.Tests/Logs/LogRecordTests.cs
Labels: pkg:OpenTelemetry, ready to merge

#6491 Fix grammar in README about Activity creation
  src/OpenTelemetry.Api/README.md
Labels: pkg:OpenTelemetry.Api, documentation

#6509 [Infra] Use NuGet Trusted Publishing
  .github/workflows/post-release.yml
Labels: infra
