Repository open-telemetry/opentelemetry-dotnet, pull requests merged in 2025-03, with the labels that each got.

#6161 Revert TraceContextPropagator performance refactor from 5749
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Api/Context/Propagation/TraceContextPropagator.cs
Labels: pkg:OpenTelemetry.Api

#6156 [repo] ProviderBuilderExtensions.Tests - AnalysisLevel latest-all
  .editorconfig
  test/OpenTelemetry.Api.ProviderBuilderExtensions.Tests/Metrics/TestMeterProviderBuilder.cs
  test/OpenTelemetry.Api.ProviderBuilderExtensions.Tests/OpenTelemetry.Api.ProviderBuilderExtensions.Tests.csproj
  test/OpenTelemetry.Api.ProviderBuilderExtensions.Tests/ServiceCollectionExtensionsTests.cs
  test/OpenTelemetry.Api.ProviderBuilderExtensions.Tests/Trace/TestTracerProviderBuilder.cs
Labels: pkg:OpenTelemetry.Api.ProviderBuilderExtensions

#6177 Update docs in BatchExportProcessorOptions.cs
  src/OpenTelemetry/BatchExportProcessorOptions.cs
Labels: pkg:OpenTelemetry

#6160 [Shims.OpenTracing] enable code analysis
  src/OpenTelemetry.Shims.OpenTracing/OpenTelemetry.Shims.OpenTracing.csproj
  src/OpenTelemetry.Shims.OpenTracing/SpanBuilderShim.cs
  src/OpenTelemetry.Shims.OpenTracing/SpanShim.cs
  src/OpenTelemetry.Shims.OpenTracing/TracerShim.cs
  src/Shared/AssemblyVersionExtensions.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/IntegrationTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/ListenAndSampleAllActivitySources.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/ListenAndSampleAllActivitySourcesFixture.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/OpenTelemetry.Shims.OpenTracing.Tests.csproj
  test/OpenTelemetry.Shims.OpenTracing.Tests/SpanBuilderShimTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/TestFormatTextMap.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/TestSpan.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/TestSpanContext.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/TestTextMap.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/TracerShimTests.cs
Labels: pkg:OpenTelemetry.Shims.OpenTracing

#6186 [Examples.GrpcService] enable analysis
  examples/GrpcService/Examples.GrpcService.csproj
  examples/GrpcService/Program.cs
  examples/GrpcService/Services/GreeterService.cs
  examples/GrpcService/Startup.cs
Labels: documentation

#6184 [Exporter.Zipkin] Unskip ErrorGettingUriFromEnvVarSetsDefaultEndpointValue test
  test/OpenTelemetry.Exporter.Zipkin.Tests/ZipkinExporterTests.cs
Labels: pkg:OpenTelemetry.Exporter.Zipkin

#6171 [Exporter.Prometheus] - enable analysis
  .editorconfig
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/OpenTelemetry.Exporter.Prometheus.AspNetCore.csproj
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/PrometheusExporterApplicationBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/PrometheusExporterEndpointRouteBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/PrometheusExporterMeterProviderBuilderExtensions.cs
  src/OpenTelemetry.Exporter.Prometheus.AspNetCore/PrometheusExporterMiddleware.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusCollectionManager.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusMetric.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/Internal/PrometheusSerializer.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/OpenTelemetry.Exporter.Prometheus.HttpListener.csproj
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/PrometheusHttpListener.cs
  src/OpenTelemetry.Exporter.Prometheus.HttpListener/PrometheusHttpListenerMeterProviderBuilderExtensions.cs
  src/OpenTelemetry/Metrics/Reader/BaseExportingMetricReader.cs
  test/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests.csproj
  test/OpenTelemetry.Exporter.Prometheus.AspNetCore.Tests/PrometheusExporterMiddlewareTests.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/EventSourceTests.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests.csproj
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/PrometheusCollectionManagerTests.cs
  test/OpenTelemetry.Exporter.Prometheus.HttpListener.Tests/PrometheusHttpListenerTests.cs
  test/OpenTelemetry.Tests/Logs/LogRecordSharedPoolTests.cs
  test/OpenTelemetry.Tests/Shared/EventSourceTestHelper.cs
  test/OpenTelemetry.Tests/Shared/TestEventListener.cs
  test/OpenTelemetry.Tests/Shared/Utils.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.Prometheus.AspNetCore, pkg:OpenTelemetry.Exporter.Prometheus.HttpListener

#6192 [Extensions.Propagators] enable analysis
  src/OpenTelemetry.Extensions.Propagators/B3Propagator.cs
  src/OpenTelemetry.Extensions.Propagators/JaegerPropagator.cs
  src/OpenTelemetry.Extensions.Propagators/OpenTelemetry.Extensions.Propagators.csproj
  test/OpenTelemetry.Extensions.Propagators.Tests/B3PropagatorTests.cs
  test/OpenTelemetry.Extensions.Propagators.Tests/JaegerPropagatorTests.cs
  test/OpenTelemetry.Extensions.Propagators.Tests/OpenTelemetry.Extensions.Propagators.Tests.csproj
Labels: pkg:OpenTelemetry.Extensions.Propagators

#6189 [Exporter.Zipkin] - enable analysis
  src/OpenTelemetry.Exporter.Zipkin/OpenTelemetry.Exporter.Zipkin.csproj
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporter.cs
  src/OpenTelemetry.Exporter.Zipkin/ZipkinExporterHelperExtensions.cs
  src/OpenTelemetry/Trace/TracerProviderSdk.cs
  src/Shared/TagWriter/TagWriter.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/RemoteEndpointPriorityTestCase.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/ZipkinActivityConversionTests.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/Implementation/ZipkinActivityExporterRemoteEndpointTests.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/OpenTelemetry.Exporter.Zipkin.Tests.csproj
  test/OpenTelemetry.Exporter.Zipkin.Tests/ZipkinActivitySource.cs
  test/OpenTelemetry.Exporter.Zipkin.Tests/ZipkinExporterTests.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/ListenAndSampleAllActivitySources.cs
  test/OpenTelemetry.Shims.OpenTracing.Tests/ListenAndSampleAllActivitySourcesFixture.cs
  test/OpenTelemetry.Tests/Shared/TestActivityProcessor.cs
  test/OpenTelemetry.Tests/Shared/TestEventListener.cs
  test/OpenTelemetry.Tests/Shared/TestHttpServer.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Exporter.Zipkin, pkg:OpenTelemetry.Shims.OpenTracing

#6197 [repo] Remove unused PackageVersion definitions
  Directory.Packages.props
Labels: infra, dependencies

#6137 [Api] support for adding default tags to tracer
  src/OpenTelemetry.Api/.publicApi/Stable/PublicAPI.Unshipped.txt
  src/OpenTelemetry.Api/CHANGELOG.md
  src/OpenTelemetry.Api/Trace/TracerProvider.cs
  test/OpenTelemetry.Api.Tests/Trace/TracerTests.cs
Labels: pkg:OpenTelemetry.Api, ready to merge

#6179 [Exporter.OTLP] Optimize GetHeaders by Spans
  src/OpenTelemetry.Exporter.OpenTelemetryProtocol/OtlpExporterOptionsExtensions.cs
  test/OpenTelemetry.Exporter.OpenTelemetryProtocol.Tests/OtlpExporterOptionsExtensionsTests.cs
Labels: pkg:OpenTelemetry.Exporter.OpenTelemetryProtocol, ready to merge

#6195 [Exporter.Console] enable analysis
  src/OpenTelemetry.Exporter.Console/ConsoleExporterLoggingExtensions.cs
  src/OpenTelemetry.Exporter.Console/ConsoleExporterMetricsExtensions.cs
  src/OpenTelemetry.Exporter.Console/ConsoleLogRecordExporter.cs
  src/OpenTelemetry.Exporter.Console/ConsoleMetricExporter.cs
  src/OpenTelemetry.Exporter.Console/Implementation/ConsoleTagWriter.cs
  src/OpenTelemetry.Exporter.Console/OpenTelemetry.Exporter.Console.csproj
  src/Shared/Metrics/Base2ExponentialBucketHistogramHelper.cs
  test/OpenTelemetry.Exporter.Console.Tests/ConsoleActivityExporterTests.cs
  test/OpenTelemetry.Exporter.Console.Tests/OpenTelemetry.Exporter.Console.Tests.csproj
Labels: pkg:OpenTelemetry.Exporter.Console

#6203 [Exporter.Console] use Environment.NewLine instead of hardcoded LF in console exporters
  src/OpenTelemetry.Exporter.Console/ConsoleLogRecordExporter.cs
  src/OpenTelemetry.Exporter.Console/ConsoleMetricExporter.cs
Labels: pkg:OpenTelemetry.Exporter.Console

#6193 [Examples.AspNetCore] enable analysis
  examples/AspNetCore/Controllers/WeatherForecastController.cs
  examples/AspNetCore/Controllers/WeatherForecastControllerLog.cs
  examples/AspNetCore/Examples.AspNetCore.csproj
  examples/AspNetCore/InstrumentationSource.cs
  examples/AspNetCore/Program.cs
Labels: documentation, ready to merge

#6202 [W3cTraceContext.Tests] enable analysis
  test/OpenTelemetry.Instrumentation.W3cTraceContext.Tests/OpenTelemetry.Instrumentation.W3cTraceContext.Tests.csproj
  test/OpenTelemetry.Instrumentation.W3cTraceContext.Tests/W3CTraceContextTests.cs
  test/OpenTelemetry.Tests/Shared/SkipUnlessEnvVarFoundTheoryAttribute.cs
Labels: pkg:OpenTelemetry, ready to merge

#6204 [Extensions.Hosting.Tests] enable analysis
  test/OpenTelemetry.Extensions.Hosting.Tests/InMemoryExporterMetricsExtensionsTests.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetry.Extensions.Hosting.Tests.csproj
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetryBuilderTests.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetryMetricsBuilderExtensionsTests.cs
  test/OpenTelemetry.Extensions.Hosting.Tests/OpenTelemetryServicesExtensionsTests.cs
  test/OpenTelemetry.Tests/Metrics/AggregatorTests.cs
  test/OpenTelemetry.Tests/Metrics/HostingMeterProviderBuilder.cs
  test/OpenTelemetry.Tests/Metrics/KnownHistogramBuckets.cs
  test/OpenTelemetry.Tests/Metrics/MetricApiTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricExemplarTests.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestData.cs
  test/OpenTelemetry.Tests/Metrics/MetricTestsBase.cs
  test/OpenTelemetry.Tests/Metrics/MetricViewTests.cs
  test/OpenTelemetry.Tests/Shared/InMemoryEventListener.cs
  test/OpenTelemetry.Tests/Shared/SkipUnlessTrueTheoryAttribute.cs
Labels: pkg:OpenTelemetry, pkg:OpenTelemetry.Extensions.Hosting, ready to merge

#6207 [documentation] fix links to internal example
  docs/metrics/README.md
  docs/trace/README.md
Labels: documentation, ready to merge

#6210 [AotCompatibility.TestApp] enable analysis
  test/OpenTelemetry.AotCompatibility.TestApp/OpenTelemetry.AotCompatibility.TestApp.csproj
Labels: ready to merge

#6211 [Examples/Utils] enable analysis
  examples/MicroserviceExample/Utils/Messaging/MessageReceiver.cs
  examples/MicroserviceExample/Utils/Messaging/MessageReceiverLog.cs
  examples/MicroserviceExample/Utils/Messaging/MessageSender.cs
  examples/MicroserviceExample/Utils/Messaging/MessageSenderLog.cs
  examples/MicroserviceExample/Utils/Messaging/RabbitMqHelper.cs
  examples/MicroserviceExample/Utils/Utils.csproj
Labels: documentation

#6214 [repo] GitHub Actions hardening
  .github/workflows/Component.BuildTest.yml
  .github/workflows/add-labels.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/concurrency-tests.yml
  .github/workflows/docfx.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/markdownlint.yml
  .github/workflows/package-validation.yml
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-packages-1.0.yml
  .github/workflows/sanitycheck.yml
  .github/workflows/stale.yml
  .github/workflows/verifyaotcompat.yml
Labels: infra

#6215 [Example/WebApi] enable analysis
  examples/MicroserviceExample/WebApi/Program.cs
  examples/MicroserviceExample/WebApi/WebApi.csproj
Labels: documentation, ready to merge
